.legend{
    display: flex;
    flex: 1; 
    width: 100%;
    
}

.legend > div > img {
    max-height: 20px;
    margin-left: 10px;
}

.pantalla{
    height: 20px;
    width: 80%;
    background-color: black;
    color:white;
    text-align: center;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filas {
  display: table-row;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center; 
  list-style-position:inside;
  
  
}
.tabla{
  display:table;
  align-content: center; 
}
.columna {
  display: table-cell;
  flex: 0;
  padding: 0px;
  position: relative;
  text-align: center;
}
.sala{
  display:inline-block;

}
.asiento{
   width: 30px;
   height: 30px;
   margin: 2px;
   border: 2px solid black;
   text-align: center;
   color: white;

}
.disponible{

   background-color: #60afe7;
}

.ocupado{
 background-color: #5f6972;
}

.seleccionado{
  background-color: #9773c5;
}

.pasillo{
  margin-right:20px;
}

input[type=checkbox]{
  visibility:hidden;
  position: absolute;
  outline-offset: -999px;
}