* {
padding: 0;
margin: 0;
}

#black{
    background-color: black;
}

html, body {
height: 100%;
}

#container {
min-height: 100%;
background-color: whitesmoke;
border-left: 2px solid #666;
border-right: 2px solid #666;
/*width: 676px;*/
margin: 0 auto;
}

* html #container {
height: 100%;
}

#footer {
width: 680px;
background-color: #00438E;
color: #DDD;
text-align: center;
height: 40px;
padding-top: 10px;
margin: -50px auto 0 auto;
display:block;
}

.img-poster {
    height:230pt;
    width:auto;
}

.header {
     background-color: #00438E;
     color:azure;
}
.movies{
    padding:5px;
}
.movie{
    height: 250pt;
    width: 160pt;
    border: 2px solid #00438E;
    border-radius: 5px;
    position: relative;
     padding:5px;
}

.overlay{
     position: absolute;
    float: left;
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 1000;
   background-color: #00438E;
   padding: 5px;
   color: #FFFFFF;
   font-weight: bold;
   display:block;
    width:100%
}

#movie-title{
    padding: 2pt;
    overflow: hidden;
    text-overflow: ellipsis;

}

.btn-group-vertical{
    float: right;
    padding: 10pt 30pt;
}


.carousel > slide{
    max-height: 650px;
    width: 100%;
}

.carousel-inner > img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    
}
.carousel-caption{
    background: rgba(0,0,0,0.6);
}


.break{
    background-color: #00346D;
    height: 10pt;
}
.grey{
    background-color: black;
}

.btn{
    background-color: #7BB9FF;
    color: white;
    border: solid #00438E 1px;
}
.btn:hover{
    background-color: #1367c4;
    color: white;
    border: solid #00438E 1px;
}

.carousel-caption{
    width: 400px;
    height: 300px;
    text-align: left;
    left: 20%;
    right: inherit;

}
.carousel-caption > p, h2{
    background-color:rgba(24,29,48,0.5);

}

.carousel-indicators{
    text-align: left;
    left: 50%;
    right: inherit;
    
}

#btngroup-dias{
    margin: 0px 0px 15px 0px;
}

.btn-group-vertical > a{
    margin: 0px 0px 5px 0px
}

.panel-heading{
    text-align: center !important;
    background-color: #00438E !important;
    color: white !important;
}

.panel-body{
    margin: 0px;
}
.deepBlue{
     background-color: #00438E !important;
     width:100%;
}
.footer-content{
    padding: 20px;
    display: flex;
    background-color: #00438E !important;
    width: 100%;


}

#label-white{
    color:white;
    font: 20px arial, sans-serif;    

}
#h-white{
    color:white;
    font: 30px arial, sans-serif;    
}
#back-white{
    background-color:white;
}
.col-center-block {
    float: none !important;
    
    margin: 0 auto;
    text-align: center;
    background-color: #00438E !important;
    /* margin-left: auto; margin-right: auto; */
}

.foot-section{
     display: table-cell;
    padding: 20px 5px 20px 5px;
    width: 150pt;
    height: 190pt;
    background-color: #fff3dd !important;
    margin: 0px 20px;
   

}

.icon{
    width: 44pt;
    height: 44pt;
    display: block;
    margin:auto;

   
}

.links{
    margin: 10px 0px 0px 0px;
}
.links > a:link, a:visited {
    background-color: #7BB9FF;
    color: black;
    padding: 5px 10px;
    text-align: center; 
    font-size: medium;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    margin: 3px;
    border: solid #00438E 1px;
}

.links > a:hover, a:active {
    color: white;
    background-color: #1367c4;
    border-radius: 3px;
}
.centered {
    margin: auto;
    width: 50%;
    padding: 20px;
}
.detallesFuncion{
    font-size: 12pt;

}
.entradas{
    margin: 50px;
}
.white{
    background-color: white;
}
.promos{
    display:flex;
}
/*#slides_control > div{
  height: 100px;
}

#slides_control {
  position:absolute;
  width: 500px; 
  left:50%;
  top:20px;
  margin-left:-200px;
}*/

#hovercolor td:hover { 
   background: lightblue; 
}
#hovercolor td a { 
   display: block; 
   padding: 2px; 
}

.cinemarHeader{
    cursor:pointer !important;
}

.historial-Compra{

    border-color:#008e3d !important;
}
.historial-Compra .panel-heading{
    background-color: #008e3d !important;
    color: white !important;
}
.historial-Compra .btn{
     border-color:#008e3d !important;
     background-color: #0cb756 !important;
}
.historial-Compra .btn:hover{
     border-color:#008e3d !important;
     background-color:#008e3d !important;
}

.historial-Vencida{

    border-color:#8e0e00 !important;
}
.historial-Vencida .btn{
     border-color:#8e0e00 !important;
     background-color: #8e0e00 !important;
}
.historial-Vencida .btn:hover{
     border-color:#8e0e00 !important;
     background-color:#540c05 !important;
}
.historial-Vencida .panel-heading{
    background-color: #8e0e00 !important;
    color: white !important;
}
.historial-Retirada{

    border-color:#97a7af !important;
}
.historial-Retirada .panel-heading{
    background-color: #97a7af !important;
    color: white !important;
}
.historial-Retirada .btn{
     border-color:#97a7af !important;
     background-color: #97a7af !important;
}
.historial-Retirada .btn:hover{
     border-color:#97a7af !important;
     background-color:#586268 !important;
}

.historial-fecha{
    background-color: #7BB9FF;
    border-radius: 4px;
    padding: 2px;
    
}
.historial-fecha .btn{
     border-color:#00438E ;
    background-color: #1367c4; 
    font-size: 10px; 
        float: right!important;
    
}
.historial-fecha .btn:hover{
     border-color:#00438E ;
    background-color: #00438E;    
}

.nav-Reserva .btn{
    border-color:#00438E ;
    background-color: #1367c4; 
}
.nav-Reserva .btn:hover{
    border-color:#00438E ;
    background-color: #00438E;    
}

.nav-Compra .btn{
     border-color:#008e3d !important;
     background-color: #0cb756 !important;
}
.nav-Compra .btn:hover{
     border-color:#008e3d !important;
     background-color:#008e3d !important;
}
.nav-Retirada .btn{
     border-color:#97a7af !important;
     background-color: #97a7af !important;
}
.nav-Retirada .btn:hover{
     border-color:#97a7af !important;
     background-color:#586268 !important;
}

.nav-Vencida .btn{
     border-color:#8e0e00 !important;
     background-color: #8e0e00 !important;
}
.nav-Vencida .btn:hover{
     border-color:#8e0e00 !important;
     background-color:#540c05 !important;
}
.nav-Vencida .btn:active{
     border-color:#8e0e00 !important;
     background-color:#540c05 !important;
}

.blue-pill{
  background-color: #7BB9FF;
    border-color:#1367c4;
    border-style: solid;
    border-width: 1pt;
  padding:4px 10px 4px 4px;
  text-align: center;
  border-radius: 3px;
  
}

.blue-pill:hover{
  background-color: #1367c4;
  padding:4px 10px 4px 4px;
  text-align: center;
  border-radius: 3px;

  
}
.pill-container{
    padding: 3px;
}

.blue-pill > a{
    color:white;
    text-decoration: none;
}
