<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                    <li ui-sref="usuarioCuenta"><a href="#">Tu Cuenta</a></li>
                    <li ui-sref="usuarioHistorial" class="active"><a href="#">Historial</a></li>
                    <li ui-sref="usuarioBorrar"><a href="#">Borrar Cuenta</a></li>
                    </ul>
                </div>
            </nav>
        </div> 
    </div>
    <!--FILTROS-->  
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-justified">
                <div class="btn-group nav-Vencida">
                    <button type="button" class="btn btn-primary" ng-click=filtro("NoRetiradas")>No Retiradas</button>
                </div>
                <div class="btn-group nav-Reserva">
                    <button type="button" class="btn btn-primary" ng-click=filtro("Reservas")>Reservas</button>
                </div>
                <div class="btn-group nav-Compra">
                    <button type="button" class="btn btn-primary" ng-click=filtro("Compras")>Compras</button>
                </div>
                <div class="btn-group nav-Retirada">
                    <button type="button" class="btn btn-primary" ng-click=filtro("Retiradas")>Retiradas</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" ng-click=filtro("Todo")>Todo</button>
                </div>
            </div>
            
        </div>
    </div>
    <br>
    <!--NO RETIRADAS -->
    <div ng-hide="ifNoRetirada">
        <div class="row">
            <div class="col-md-12">
                <!--NG-REPEAT por cada operacion No Retirada -->
                
                <div class="panel panel-danger historial-Vencida" ng-repeat="x in noRetiradas">
                    <div class="panel-heading ">{{fecha}}No Retirada</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>No se han retirado estas entradas dentro del tiempo permitido.</p>
                                <p>Se ingresara a Lista Negra hasta que abone el monto indicado.</p>
                                <p>Mientras se encuentra dentro de la Lista Negra no se le permitira realizar reservas de entradas.</p>
                            </div>
                            <div class="col-md-6">
                                <p>{{x.funcion.pelicula.nombre}}, {{x.funcion.idioma.nombre}}</p>
                                <p>{{x.funcion.diaFormateado}}, {{formatearHora(x.funcion)}}</p> 
                                <p>{{x.funcion.complejo.nombre}}</p>
                                <p>Cantidad de Asientos: {{x.funcion.cantidadAsientos}}</p> 
                                <p>Precio Original: ${{x.funcion.precioTotal}}</p> 
                                <p>Monto Debido: ${{x.montoDeuda}}</p> <!--falta generar el campo desde el service de lista negra-->
                                
                                <div class="form-group pull-right">
                                     <input type="button" class="btn btn-primary" value="Imprimir" ng-click="cargar(x)" ui-sref="usuarioImprimir">
                                    <input type="button" class="btn btn-danger" value="Realizar Pago" ui-sref="usuarioReservaVencida" ng-click="cargar(x)">  
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--POR FECHA--> 
    
    <div ng-repeat="c in fechas" ng-hide="ifFechas">
        <div class="row" ng-show="hayOperacion(c)">
            <div class="col-md-12">
                <div>
                    <h3 class="historial-fecha">{{c.formateado}}
                        <input type="button" class="btn btn-primary" value="{{c.showString}}" ng-click="toggle(c)"> 
                    </h3>
                    
                </div>
                <!--NG-REPEAT por cada operacion Reservada-->
                <div ng-hide="ifReserva==true || c.show==false">
                    <div class="panel panel-primary" ng-repeat="x in reservas | filter:  {funcion: { diaTime: c.dia}}" >
                        <div class="panel-heading ">{{fecha}}Reserva</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Tiene tiempo hasta {{tiempolimiteretiro}} para abonar estas entradas online o por boleteria.</p>
                                    <p>Tiene tiempo hasta {{tiempolimitecancelacion}} para cancelar esta reserva.</p>
                                    <p>Si no se retiran dentro del tiempo permitido se le ingresara a Lista Negra.</p>
                                </div>
                                <div class="col-md-6">
                                    <p>{{x.funcion.pelicula.nombre}}, {{x.funcion.idioma.nombre}}</p>
                                    <p>{{x.funcion.diaFormateado}}, {{formatearHora(x.funcion)}}</p>
                                    <p>{{x.funcion.complejo.nombre}}</p>
                                    <p>Cantidad de Asientos: {{x.funcion.cantidadAsientos}}</p> 
                                    <p>Precio: ${{x.funcion.precioTotal}}</p>
                                    <p>Codigo: {{x.codigo}}</p>
                                    <div class="form-group pull-right">
                                        <input type="button" class="btn btn-primary" value="Comprar" ui-sref="usuarioReservaVencida" ng-click="cargar(x)"> 
                                         <input type="button" class="btn btn-primary" value="Imprimir" ng-click="cargar(x)" ui-sref="usuarioImprimir" >
                                        <input type="button" class="btn btn-primary" value="Cancelar" ng-click="cancelar(x)">  
                                         
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <!--NG-REPEAT por cada operacion Compra-->
                <div ng-hide="ifCompra==true || c.show==false">
                    <div class="panel panel-success historial-Compra" ng-repeat="x in compras | filter:  {funcion: { diaTime: c.dia}}">
                        <div class="panel-heading ">{{fecha}}Compra</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Tiene tiempo hasta {{tiempolimitecancelacion}} para cancelar esta compra sin cargo.</p>
                                </div>
                                <div class="col-md-6">
                                    <p>{{x.funcion.pelicula.nombre}}, {{x.funcion.idioma.nombre}}</p>
                                    <p>{{x.funcion.diaFormateado}}, {{formatearHora(x.funcion)}}</p>
                                    <p>{{x.funcion.complejo.nombre}}</p>
                                    <p>Cantidad de Asientos: {{x.funcion.cantidadAsientos}}</p> 
                                    <p>Precio: ${{x.funcion.precioTotal}}</p>
                                    <p>Codigo: {{x.codigo}}</p>
                                    <div class="form-group pull-right">
                                         <input type="button" class="btn btn-primary" value="Imprimir" ng-click="cargar(x)" ui-sref="usuarioImprimir">
                                        <input type="button" class="btn btn-primary" value="Cancelar" ng-click="cancelar(x)">   
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <!--NG-REPEAT por cada operacion Retirada-->
                <div  ng-hide="ifRetirada==true || c.show==false">
                    <div class="panel panel-default historial-Retirada" ng-repeat="x in retiradas | filter:  {funcion: { diaTime: c.dia}}">
                        <div class="panel-heading ">{{fecha}}Retirada</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>{{x.funcion.pelicula.nombre}}, {{x.funcion.idioma.nombre}}</p>
                                    <p>{{x.funcion.diaFormateado}}, {{formatearHora(x.funcion)}}</p>
                                    <p>{{x.funcion.complejo.nombre}}</p>
                                    <p>Cantidad de Asientos: {{x.funcion.cantidadAsientos}}</p> 
                                    <p>Precio: ${{x.funcion.precioTotal}}</p>
                                    
                                    <div class="form-group pull-right">
                                         <input type="button" class="btn btn-primary" value="Imprimir" ng-click="cargar(x)" ui-sref="usuarioImprimir">
                                        <input type="button" class="btn btn-default" value="Borrar" ng-click="borrar(x)">                                          
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
