<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                    <li ui-sref="usuarioCuenta"><a href="#">Tu Cuenta</a></li>
                    <li ui-sref="usuarioHistorial"><a href="#">Historial</a></li>
                    <li ui-sref="usuarioBorrar"><a href="#">Borrar Cuenta</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--DATOS-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">DATOS DE PAGO</div>
                <div class="panel-body">
                    <form name="form" class="form-horizontal" role="form">
                    
                                        

                    <div class="form-group" ng-class="{ 'has-error': form.banco.$dirty && form.banco.$error.required }"> 
                    <label class="control-label col-sm-2" for="banco">Seleccione Banco <span class="require">*</span></label>
                        <div class="col-sm-10">
                        <select class="form-control input-sm" ng-options="item.nombre for item in bancos" ng-model="operacion.banco" required>
                        </select>
                        <span ng-show="form.banco.$dirty && form.banco.$error.required" class="help-block">Banco es requerido</span>
                        </div>
                    
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.titular.$dirty && form.titular.$error.required }"> 
                    <label class="control-label col-sm-2" for="tarjeta">Seleccione Tarjeta <span class="require">*</span></label>
                        <div class="col-sm-10">
                        <select class="form-control input-sm" id="tarjeta" ng-options="item.nombre for item in tarjetas" ng-model="operacion.tarjeta" required>
                        </select>
                        <span ng-show="form.tarjeta.$dirty && form.tarjeta.$error.required" class="help-block">Tarjeta es requerido</span>
                        </div>
                        
                    </div>

                   
                    <div class="form-group" ng-class="{ 'has-error': form.titular.$dirty && form.titular.$error.required }">
                    <label class="control-label col-sm-2" for="titular">Titular</label>
                        <div class="col-sm-10">
                        <input type="text" id="titular" class="form-control" ng-model="operacion.nombreTitular" required>
                        <span ng-show="form.titular.$dirty && form.titular.$error.required" class="help-block">Titular es requerido</span>
                        </div>
                    
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.dni.$dirty && form.dni.$error.required }"> 
                    <label class="control-label col-sm-2" for="dni">Dni</label>
                        <div class="col-sm-10">
                    <input type="text" id="dni" class="form-control" ng-model="operacion.dniTitular" ng-minlength="3" ng-maxlength="8" required>
                        <span ng-show="form.dni.$dirty && form.dni.$error.required" class="help-block">dni es requerido</span>
                        <span ng-show="userForm.name.$error.minlength" class="help-block">DNI es muy corto.</span>
                        <span ng-show="userForm.name.$error.maxlength" class="help-block">DNI es muy largo.</span>
                        </div>

                    </div>
                    
                    <div class="form-group" ng-class="{ 'has-error': form.vencimiento.$dirty && form.vencimiento.$error.required }"> 
                        <label class="control-label col-sm-2" for="vencimiento">Vencimiento <span class="require">*</span></label>
                        <div class="col-sm-10">
                            <select class="form-control input-sm" id="vencimientoMes" ng-model="operacion.fechaVencimiento.mes" required>
                                <option ng-repeat="x in mes">{{x}}</option>
                            <span ng-show="form.vencimiento.$dirty && form.vencimiento.$error.required" class="help-block">Mes y año es requerido</span>
                            </select> 
                            
                            <select class="form-control input-sm" id="vencimientoYear" ng-model="operacion.fechaVencimiento.year" required>
                                <option ng-repeat="x in year">{{x}}</option>
                            </select>  
                        </div>
                    </div>
                                        
                    
                    <div class="form-group" ng-class="{ 'has-error': form.codigoSeguridad.$dirty && form.codigoSeguridad.$error.required }" > 
                        <label class="control-label col-sm-2" for="codigoSeguridad">Codigo de seguridad</label>
                        <div class="col-sm-10"> 
                        <input type="text" id="codigoSeguridad" class="form-control" ng-model="operacion.codigoSeguridad" required/>
                        <span ng-show="form.codigoSeguridad.$dirty && form.codigoSeguridad.$error.required" class="help-block">Codigo de Seguridad es requerido</span>
                        </div>
                    </div>
                    </form>
                </div>
            </div>                 
       
        </div>
    </div>
    <!--BOTONES-->
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                    <div class="form-group centered">
                
                        <input type="button" ng-disabled="form.$invalid" class="btn btn-info" value="Continuar" ui-sref="usuarioFinalizarPago" ng-click="cargar(funcion)" >
                        <input type="button" class="btn btn-info" value="Cancelar" ui-sref="main">              
                
                    </div>
            </form>
        </div>
        
    </div>
</div>
