<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ui-sref="adminPersonal"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation" ui-sref="adminCines"><a href="#">Gestionar Cines</a></li>
                        <li role="presentation" ui-sref="adminPrecios"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation" ui-sref="adminPromociones"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation" ui-sref="adminSalas" class="active"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation" ui-sref="adminSlide"><a href="#">Gestionar Slides</a></li>
                        <br>
                        <br>
                        <br> 
                        <li role="presentation" ui-sref="adminConfiguracionGeneral"><a href="#">Configuracion General</a></li>
                        <li role="presentation" ui-sref="adminCuenta"><a href="#">Mi Cuenta</a></li>           
                    </ul>
                </div>
            </div>
        </div> 
        
        <div class = "col-md-9">
            <!-- SALAS DATOS -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                                    <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="nombre" class="form-control" ng-model="sala.nombre" ng-minlength="3" ng-maxlength="15" required>
                                        <p ng-show="form.nombre.$invalid && !form.nombre.$pristine" class="help-block">El nombre es requerido</p>
                                        <p ng-show="form.nombre.$error.minlength" class="help-block">Nombre es muy corto.</p>
                                        <p ng-show="form.nombre.$error.maxlength" class="help-block">Nombre es muy largo.</p>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }" required>
                                    <label class="control-label col-sm-2" for="selFormato" >Formato: </label>  
                                    <div class="col-sm-10">
                                       <select ng-model="sala.formato._id" ng-options="x._id as x.nombre for x in formatos">  
                                            <option value="">Seleccione</option>           
                                        </select>  
                                         <p ng-show="form.selFormato.$invalid && !form.selFormato.$pristine" class="help-block">El formato es requerido</p>
                                    </div>                 
                                    
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }" required>
                                    <label class="control-label col-sm-2" for="selComplejo" >Complejo: </label>  
                                    <div class="col-sm-10">
                                       <select ng-model="sala.complejo._id" ng-options="x._id as x.nombre for x in complejos">  
                                            <option value="">Seleccione</option>           
                                        </select>  
                                         <p ng-show="form.selComplejo.$invalid && !form.selComplejo.$pristine" class="help-block">El complejo es requerido</p>
                                    </div>                 
                                    
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }" required>
                                    <label class="control-label col-sm-2" for="filas">Filas:</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="filas" class="form-control" ng-model="cantFilas">
                                        <p ng-show="form.filas.$invalid && !form.filas.$pristine" class="help-block">Filas es requerido</p>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }" required>
                                    <label class="control-label col-sm-2" for="columnas">Columnas:</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="columnas" class="form-control" ng-model="cantColumnas">
                                         <p ng-show="form.columnas.$invalid && !form.columnas.$pristine" class="help-block">Columnas es requerido</p>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-sm-10"></div>
                                    <div class="col-sm-2">
                                        <input type="button" class="btn btn-info" value="Generar" ng-click="generarSala()">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--GUARDAR-->
            <div ng-hide="ocultarAsientos">
                <div class="row">
                    <div class="col-md-12">
                    <div class="alert alert-info">
                     Haciendo click sobre una <strong>columna</strong> puede definir un <strong>pasillo</strong> a su derecha.
                    </div>
                    </div>
                </div>

            <!--SALA GENERADA -->
            <div class="row">
                <div class="container-fluid">
                    <div class="panel panel-default text-center">
                        <div class="sala panel-body" >
                            <div class="pantalla center-block"> 
                            Pantalla
                            </div >
                            <div class="tabla">
                                <ol class="filas" ng-repeat="filas in sala.asientos">                                    
                                    <li class="columna" ng-repeat="columna in filas">
                                        <label class="asiento ocupado" ng-if="!columna.pasillo && columna.booked" ng-click="seleccionar(columna)"> {{columna.id}} </label>
                                        <label class="asiento disponible" ng-if="!columna.pasillo && !columna.booked && !columna.checked" ng-click="seleccionar(columna)"> {{columna.id}} </label>
                                        <label class="asiento ocupado pasillo" ng-if="columna.pasillo && columna.booked" ng-click="seleccionar(columna)"> {{columna.id}} </label>                    
                                        <label class="asiento disponible pasillo" ng-if="columna.pasillo && !columna.booked && !columna.checked" ng-click="seleccionar(columna)"> {{columna.id}} </label>         
                                        <label class="asiento seleccionado pasillo" ng-if="columna.pasillo && columna.checked" ng-click="seleccionar(columna)"> {{columna.id}} </label>                                
                                        <label class="asiento seleccionado" ng-if="!columna.pasillo && columna.checked" ng-click="seleccionar(columna)"> {{columna.id}} </label>                                       
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="panel-footer " style="text-align: right;">
                            <input type="button" class="btn btn-info" value="Guardar Sala" ng-click="cargar()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
