<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ui-sref="adminPersonal"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation" ui-sref="adminCines" ><a href="#">Gestionar Cines</a></li>
                        <li role="presentation" ui-sref="adminPrecios" class="active"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation" ui-sref="adminPromociones"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation" ui-sref="adminSalas"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation" ui-sref="adminSlide" ><a href="#">Gestionar Slides</a></li>
                        <li role="presentation" ui-sref="adminIdiomas"><a href="#">Gestionar Idiomas</a></li>
                        <li role="presentation" ui-sref="adminFormatos"><a href="#">Gestionar Formatos</a></li>
                        <br>
                        <br>
                        <br> 
                        <li role="presentation" ui-sref="adminConfiguracionGeneral"><a href="#">Configuracion General</a></li>
                        <li role="presentation" ui-sref="adminCuenta"><a href="#">Mi Cuenta</a></li>          
                    </ul>
                </div>
            </div>
        </div>                                
                <div class = "col-md-9">
                    <div class="panel panel-default margin-top">
                        <form name="form" ng-submit="cargar()" novalidate>

                       
                        
                        <!-- Complejo -->
                    
                         <div class="form-group" ng-class="{ 'has-error' : form.complejo.$invalid && !form.complejo.$pristine }">
                                    <label>Complejo:</label>
                                    <select ng-model="precio.complejo._id" ng-options="x._id as x.nombre for x in complejos">  
                                    <option value="">Seleccione</option>           
                                    </select>            
                        </div>  

                        <!-- Formato -->
                      
                        <div class="form-group" ng-class="{ 'has-error' : form.formato.$invalid && !form.formato.$pristine }">
                                    <label>Formato:</label>
                                    <select ng-model="precio.formato._id" ng-options="x._id as x.nombre for x in formatos">  
                                    <option value="">Seleccione</option>           
                                    </select>            
                        </div>  
                         <!-- Tipo Entradas -->
                      
                          <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                                    <label>Tipo Entrada:</label>
                                    <select ng-model="precio.tipo">  
                                    <option ng-repeat="x in tipos">{{x}}</option>          
                                    </select>            
                                </div>

                         <!-- Monto -->
                        
                        <div class="form-group" ng-class="{ 'has-error' : form.monto.$invalid && !form.monto.$pristine }">
                            <label>Monto:</label>
                         
                                <input type="number" name="monto" class="form-control" ng-model="precio.monto" ng-min="0"  required>
                            <p ng-show="form.monto.$invalid && !form.monto.$pristine" class="help-block">El Monto es requerida</p>
                            <p ng-show="form.monto.$error.min" class="help-block">Monto debe ser positvo.</p>
                    
                            
                           
                        </div>

                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Cargar</button>
                        <button class="btn btn-primary" ui-sref="adminPrecios">Cancelar</button>
                    </form>

                    </div>
                </div>
            </div>        
</div>
