<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ui-sref="adminPersonal"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation" ui-sref="adminCines"><a href="#">Gestionar Cines</a></li>
                        <li role="presentation" ui-sref="adminPrecios"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation" ui-sref="adminPromociones" class="active"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation" ui-sref="adminSalas"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation" ui-sref="adminSlide"><a href="#">Gestionar Slides</a></li>
                        <br>
                        <br> 
                        <br> 
                        <li role="presentation" ui-sref="adminConfiguracionGeneral"><a href="#">Configuracion General</a></li>
                        <li role="presentation" ui-sref="adminCuenta"><a href="#">Mi Cuenta</a></li>         
                    </ul>
                </div>
            </div>
        </div>
        <!--CONTENIDO-->
        <div class="col-md-9">
            <div class="row">
                <div class = "col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="container">
                            <ul class="nav navbar-nav">
                                <li ui-sref="adminPromociones" class="active"><a href="#">Promociones</a></li>
                                <li ui-sref="adminTarjeta" ><a href="#">Tarjetas</a></li>
                                <li ui-sref="adminBancos"><a href="#">Bancos</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>                    
            </div>

            <!-- PROMOCIONES -->
            <div class="row">
                <div class = "col-md-12">
                    <div class="panel panel-default margin-top">
                        <div class="panel-body">
                            <button type="button" class="btn btn-primary" ng-click="alta()">Nuevo</button>
                            <table ng-if="promocionesDia[0]!=null" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Dia</th>                                        
                                        <th>Porcentaje</th>
                                        <th>Entradas</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr ng-repeat="promocion in promocionesDia track by $index">
                                        <td>{{promocion.nombre}}</td>
                                        <td>{{promocion.tipoDescuento}}</td>
                                        <td>{{formatearDia(promocion.diaSemana)}}</td>
                                        <td>{{promocion.porcentaje}}</td>                                        
                                        <td>{{promocion.tipoEntrada}}</td>
                                        <td>
                                            <button class="btn btn-info btn-sm" ng-click="modificar(promocion)">
                                            Editar</button>
                                            <button class="btn btn-danger btn-sm" ng-click="borrar(promocion)">
                                            Eliminar</button>
                                        </td>
                                    </tr>
                                    
                                </tbody>                    
                            </table>
                            <table ng-if="promocionesTarjeta[0]!=null" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Banco</th>
                                        <th>Tarjeta</th>
                                        <th>Porcentaje</th>
                                        <th>Entradas</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr ng-repeat="promocion in promocionesTarjeta track by $index">
                                        <td>{{promocion.nombre}}</td>                                        
                                        <td>{{promocion.tipoDescuento}}</td>
                                        <td>{{promocion.banco.nombre}}</td>
                                        <td>{{promocion.tarjeta.nombre}}</td>
                                        <td>{{promocion.porcentaje}}</td>
                                        <td>{{promocion.tipoEntrada}}</td>
                                        <td>
                                            <button class="btn btn-info btn-sm" ng-click="modificar(promocion)">Editar</button>
                                            <button class="btn btn-danger btn-sm" ng-click="borrar(promocion)">Eliminar</button>
                                        </td>
                                    </tr>
                                    
                                </tbody>                    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
