<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ui-sref="adminPersonal"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation" ui-sref="adminCines" class="active"><a href="#">Gestionar Cines</a></li>
                        <li role="presentation" ui-sref="adminPrecios"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation" ui-sref="adminPromociones"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation" ui-sref="adminSalas"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation" ui-sref="adminSlide" ><a href="#">Gestionar Slides</a></li>
                        <li role="presentation" ui-sref="adminIdiomas"><a href="#">Gestionar Idiomas</a></li>
                        <li role="presentation" ui-sref="adminFormatos"><a href="#">Gestionar Formatos</a></li>
                        <br>
                        <br>
                        <br> 
                        <li role="presentation" ui-sref="adminConfiguracionGeneral"><a href="#">Configuracion General</a></li>
                        <li role="presentation" ui-sref="adminCuenta"><a href="#">Mi Cuenta</a></li>          
                    </ul>
                </div>
            </div>
        </div>                                
                
				
				<div class = "col-md-9">
                    <div class="panel panel-default margin-top">
                        <form name="form" ng-submit="cargar()" novalidate>

                       <!-- Nombre -->
                       
                        <div class="form-group" ng-class="{ 'has-error' : form.nombre.$invalid && !form.nombre.$pristine }">
                            <label>Nombre</label>
                            <input type="text" name="nombre" class="form-control" ng-model="complejo.nombre" ng-minlength="3" ng-maxlength="15" required>
                            <p ng-show="form.nombre.$invalid && !form.nombre.$pristine" class="help-block">El nombre es requerido</p>
                            <p ng-show="form.nombre.$error.minlength" class="help-block">Nombre es muy corto.</p>
                            <p ng-show="form.nombre.$error.maxlength" class="help-block">Nombre es muy largo.</p>
                        </div>
                        <!-- Hora de Apertura -->
                       
                        <div class="form-group" ng-class="{ 'has-error' : form.horaApertura.$invalid && !form.horaApertura.$pristine }">
                            <label>Hora de Apertura</label>
                            <input type="text" name="horaApertura" class="form-control" placeholder= "00:00" ng-model="horaApertura" pattern="([01]?[0-9]{2}|2[0-3]{2}):[0-5]{1}[0-9]{1}" required>
                            <p ng-show="form.horaApertura.$invalid && !form.horaApertura.$pristine" class="help-block">La horaApertura es requerida</p>
                        </div>

                         <!-- Hora de Cierre -->
                      
                        <div class="form-group" ng-class="{ 'has-error' : form.horaCierre.$invalid && !form.horaCierre.$pristine }">
                            <label>Hora de Cierre</label>
                            <input type="text" name="horaCierre" class="form-control" placeholder="00:00" ng-model="horaCierre" pattern="([01]?[0-9]{2}|2[0-3]{2}):[0-5]{1}[0-9]{1}" required>
                            <p ng-show="form.horaCierre.$invalid && !form.horaCierre.$pristine" class="help-block">La hora de Cierre es requerida</p>
                        </div>

                         <!-- Duracion Publicidad -->
                     
                        <div class="form-group" ng-class="{ 'has-error' : form.duracionPublicidad.$invalid && !form.duracionPublicidad.$pristine }">
                            <label>Duracion Publicidad (minutos)</label>
                            <input type="number" name="duracionPublicidad" class="form-control" ng-model="complejo.duracionPublicidad" ng-min="1" ng-max="60" required>
                            <p ng-show="form.duracionPublicidad.$invalid && !form.duracionPublicidad.$pristine" class="help-block">La Duracion Publicidad es requerido</p>
                  <p ng-show="form.duracionTolerancia.$error.min" class="help-block">Duracion debe ser mayor.</p>
                            <p ng-show="form.duracionTolerancia.$error.max" class="help-block">Duracion debe ser menor.</p>
                        </div>

                          <!-- Duracion entre Funciones -->
                     
                        <div class="form-group" ng-class="{ 'has-error' : form.duracionFunciones.$invalid && !form.duracionFunciones.$pristine }">
                            <label>Duracion entre Funciones (minutos)</label>
                            <input type="number" name="duracionFunciones" class="form-control" ng-model="complejo.duracionEntreFunciones" ng-min="1" ng-max="60" required>
                            <p ng-show="form.duracionFunciones.$invalid && !form.duracionFunciones.$pristine" class="help-block">La Duracion entre Funciones es requerido</p>
                        <p ng-show="form.duracionTolerancia.$error.min" class="help-block">Duracion debe ser mayor.</p>
                            <p ng-show="form.duracionTolerancia.$error.max" class="help-block">Duracion debe ser menor.</p>
                        </div>

                         <!-- Duracion Tolerancia Ultima Funcion -->
                       
                        <div class="form-group" ng-class="{ 'has-error' : form.duracionTolerancia.$invalid && !form.duracionTolerancia.$pristine }">
                            <label>Duracion Tolerancia Ultima Funcion (minutos)</label>
                            <input type="number" name="duracionTolerancia" class="form-control" ng-model="complejo.duracionToleranciaUltimaFuncion" ng-min="1" ng-max="120" required>
                            <p ng-show="form.duracionTolerancia.$invalid && !form.duracionTolerancia.$pristine" class="help-block">La Duracion Tolerancia Ultima Funcion es requerido</p>
                            <p ng-show="form.duracionTolerancia.$error.min" class="help-block">Duracion debe ser mayor.</p>
                            <p ng-show="form.duracionTolerancia.$error.max" class="help-block">Duracion debe ser menor.</p>
                        </div>
                                                   
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Cargar</button>
                        <button class="btn btn-primary" ui-sref="adminCines">Cancelar</button>
                    </form>

                    </div>
                </div>
            </div>        
</div>
