<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation"><a href="#">Gestionar Cines</a></li>
                        <li role="presentation"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation" class="active"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation"><a href="#">Gestionar Slides</a></li>
                        <br>
                        <br>
                        <br> 
                        <li role="presentation"><a href="#">Configuracion General</a></li>    
                    </ul>
                </div>
            </div>
        </div>
        <!--CONTENIDO-->
        <div class="col-md-9">
            <div class="row">
                <div class = "col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="container">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Promociones</a></li>
                                <li><a href="#">Tarjetas</a></li>
                                <li><a href="#">Bancos</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>                    
            </div>

            <!-- PROMOCIONES -->
            <div class="row">
                <div class = "col-md-12">
                    <div class="panel panel-default margin-top">
                        <div class="panel-body">
                            <button type="button" class="btn btn-primary">Nuevo</button>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Activa</th>
                                        <th>Porcentaje</th>
                                        <th>Banco</th>
                                        <th>Tarjeta</th>
                                        <th>Dia de la Semana</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr>
                                        <th>Frances</th>
                                        <th>Si</th>
                                        <th>30</th>
                                        <th>BBVA Frances</th>
                                        <th>Visa</th>
                                        <th></th>
                                        <th>
                                            <button class="btn btn-info btn-sm">Editar</button>
                                            <button class="btn btn-danger btn-sm">Eliminar</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Miercoles de Cine</th>
                                        <th>Si</th>
                                        <th>50</th>
                                        <th></th>
                                        <th></th>
                                        <th>Miercoles</th>
                                        <th>
                                            <button class="btn btn-info btn-sm">Editar</button>
                                            <button class="btn btn-danger btn-sm">Eliminar</button>
                                        </th>
                                    </tr>
                                    
                                </tbody>                    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
