<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ui-sref="adminPersonal" class="active"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation" ui-sref="adminCines" ><a href="#">Gestionar Cines</a></li>
                        <li role="presentation" ui-sref="adminPrecios"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation" ui-sref="adminPromociones"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation" ui-sref="adminSalas"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation" ui-sref="adminSlide" ><a href="#">Gestionar Slides</a></li>
                        <li role="presentation" ui-sref="adminIdiomas"><a href="#">Gestionar Idiomas</a></li>
                        <li role="presentation" ui-sref="adminFormatos"><a href="#">Gestionar Formatos</a></li>
                        <br>
                        <br>
                        <br> 
                        <li role="presentation" ui-sref="adminConfiguracionGeneral"><a href="#">Configuracion General</a></li>
                        <li role="presentation" ui-sref="adminCuenta"><a href="#">Mi Cuenta</a></li>          
                    </ul>
                </div>
            </div> 
        </div>                                
                <div class = "col-md-9">
                    <div class="panel panel-default margin-top">
                        <form name="form" ng-submit="cargar()" novalidate>

                       
                        
                        <!-- Nombre de usuario -->
                       
                        <div class="form-group" ng-class="{ 'has-error' : form.nombreUsuario.$invalid && !form.nombreUsuario.$pristine }">
                            <label>Nombre de Usuario</label>
                            <input type="text" name="nombreUsuario" class="form-control" ng-model="persona.username" ng-minlength="3" ng-maxlength="20" required>
                            <p ng-show="form.nombreUsuario.$invalid && !form.nombreUsuario.$pristine" class="help-block">El nombre de usuario es requerido</p>
                            <p ng-show="form.nombreUsuario.$error.minlength" class="help-block">Nombre de usuario es muy corto.</p>
                            <p ng-show="form.nombreUsuario.$error.maxlength" class="help-block">Nombre de usuario es muy largo.</p>
                        </div>
                        
                        <!-- Email -->
                        <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" ng-model="persona.email" ng-minlength="3" ng-maxlength="30" required>
                            <p ng-show="!form.email.$pristine" class="help-block">Email es requerido.</p>
                            <p ng-show="form.email.$error.email" class="help-block">Email no es valido.</p>
                            <p ng-show="form.email.$error.minlength" class="help-block">Email es muy corto.</p>
                            <p ng-show="form.email.$error.maxlength" class="help-block">Email es muy largo.</p>
                        </div>
                        

                         <!-- Password -->
                        <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && !form.password.$pristine }">
                            <label>Password</label>
                            <input type="text" name="password" class="form-control" ng-model="persona.password" ng-minlength="3" ng-maxlength="20" required>
                            <p ng-show="form.password.$invalid && !form.password.$pristine" class="help-block">El Password es requerida</p>
                            <p ng-show="form.password.$error.minlength" class="help-block">Password es muy corto.</p>
                            <p ng-show="form.password.$error.maxlength" class="help-block">Password es muy largo.</p>
                        </div>

                         <!-- Tipo de Usuario -->                   
                        
                        <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                                    <label>Tipo</label>
                                    <select ng-model="persona.tipo._id" ng-options="x._id as x.nombre for x in tipoUsuario">  
                                    <option value="">Seleccione</option>           
                                    </select>            
                        </div>  
                        <!-- Complejo -->                   
                        
                        <div class="form-group" ng-class="{ 'has-error' : form.complejo.$invalid && !form.complejo.$pristine }">
                                    <label>Complejo</label>
                                    <select ng-model="persona.complejo._id" ng-options="x._id as x.nombre for x in complejos">  
                                    <option value="">Seleccione</option>           
                                    </select>            
                        </div>  
                      
                        
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Cargar</button>
                        <button class="btn btn-primary" ui-sref="adminPersonal">Cancelar</button>
                    </form>

                    </div>
                </div>
            </div>        
</div>
