<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ui-sref="adminPersonal"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation" ui-sref="adminCines"><a href="#">Gestionar Cines</a></li>
                        <li role="presentation" ui-sref="adminPrecios"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation" ui-sref="adminPromociones"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation" ui-sref="adminSalas" class="active"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation" ui-sref="adminSlide"><a href="#">Gestionar Slides</a></li>
                        <br>
                        <br>
                        <br> 
                        <li role="presentation" ui-sref="adminConfiguracionGeneral"><a href="#">Configuracion General</a></li>
                        <li role="presentation" ui-sref="adminCuenta"><a href="#">Mi Cuenta</a></li>          
                    </ul>
                </div>
            </div>
        </div>
        

            <!-- SALAS -->
                <div class = "col-md-9">
                    <div class="panel panel-default margin-top">
                        <div class="panel-body">
                            <button type="button" class="btn btn-primary">Nuevo</button>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Formato</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr>
                                        <th>Sala Media 3</th>
                                        <th>2D</th>
                                        <th>
                                            <button class="btn btn-info btn-sm">Editar</button>
                                            <button class="btn btn-danger btn-sm">Eliminar</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Sala Media 5</th>
                                        <th>3D</th>
                                        <th>
                                            <button class="btn btn-info btn-sm">Editar</button>
                                            <button class="btn btn-danger btn-sm">Eliminar</button>
                                        </th>
                                    </tr>
                                    
                                </tbody>                    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</div>
