<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ui-sref="adminPersonal"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation" ui-sref="adminCines"><a href="#">Gestionar Cines</a></li>
                        <li role="presentation" ui-sref="adminPrecios"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation" ui-sref="adminPromociones" class="active"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation" ui-sref="adminSalas"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation" ui-sref="adminSlide" ><a href="#">Gestionar Slides</a></li>
                        <li role="presentation" ui-sref="adminIdiomas"><a href="#">Gestionar Idiomas</a></li>
                        <li role="presentation" ui-sref="adminFormatos"><a href="#">Gestionar Formatos</a></li>
                        <br> 
                        <br>
                        <br> 
                        <li role="presentation" ui-sref="adminConfiguracionGeneral"><a href="#">Configuracion General</a></li>
                        <li role="presentation" ui-sref="adminCuenta"><a href="#">Mi Cuenta</a></li>          
                    </ul>
                </div>
            </div>
        </div> 
         <!--CONTENIDO-->
        <div class="col-md-9">
            <div class="row">
                <div class = "col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="container">
                            <ul class="nav navbar-nav">
                                <li ui-sref="adminPromociones" class="active"><a href="#">Promociones</a></li>
                                <li ui-sref="adminTarjeta" ><a href="#">Tarjetas</a></li>
                                <li ui-sref="adminBancos"><a href="#">Bancos</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>                    
            </div>                               
                <div class = "col-md-9">
                    <div class="panel panel-default margin-top">
                        <div class="panel-body">
                        <form name="form" ng-submit="cargar()" novalidate>

                                <div class="form-group" ng-class="{ 'has-error' : form.nombre.$invalid && !form.nombre.$pristine }">
                                    <label>Nombre</label>
                                    <input type="text" name="nombre" class="form-control" ng-model="promocion.nombre" ng-minlength="3" ng-maxlength="25" required>
                                    <p ng-show="form.nombre.$invalid && !form.nombre.$pristine" class="help-block">El nombre es requerido</p>
                                    <p ng-show="form.nombre.$error.minlength" class="help-block">Nombre es muy corto.</p>
                                    <p ng-show="form.nombre.$error.maxlength" class="help-block">Nombre es muy largo.</p>
                                </div>
                                 <div class="form-group" ng-class="{ 'has-error' : form.descripcion.$invalid && !form.descripcion.$pristine }">
                                    <label>Descripcion</label>
                                    <input type="text" name="descripcion" class="form-control" ng-model="promocion.descripcion" ng-minlength="3" ng-maxlength="30" required>
                                    <p ng-show="form.descripcion.$invalid && !form.descripcion.$pristine" class="help-block">La descripcion es requerida</p>
                                    <p ng-show="form.descripcion.$error.minlength" class="help-block">La descripcion es muy corta.</p>
                                    <p ng-show="form.descripcion.$error.maxlength" class="help-block">La descripcion es muy larga.</p>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                                    <label>Tipo Promocion</label>
                                    <select ng-model="promocion.tipoPromocion">  
                                    <option ng-repeat="x in tipoPromocion">{{x}}</option> 
                                    </select>            
                                </div>  
                                <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                                    <label>Tipo Descuento</label>
                                    <select ng-model="promocion.tipoDescuento">  
                                    <option ng-repeat="x in tipoDescuento">{{x}}</option>          
                                    </select>            
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                                    <label>Entradas Afectadas</label>
                                    <select ng-model="promocion.tipoEntrada">  
                                     <option selected="promocion.tipoEntrada" ng-repeat="x in preciosFiltrados">{{x}}</option>          
                                    </select>            
                                </div>                                   
                                <div class="form-group" ng-if="promocion.tipoPromocion=='Dia'" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                                    <label>Dia</label>
                                    <select ng-model="promocion.diaSemana">  
                                     <option  selected="promocion.diaSemana" ng-repeat="x in dia">{{x}}</option>          
                                    </select>            
                                </div> 
                                <div class="form-group" ng-if="promocion.tipoPromocion=='Tarjeta'" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                                    <label>Banco</label>
                                    <select ng-model="promocion.banco">  
                                    <option ng-repeat="x in bancos">{{x}}</option> 
                                    </select>            
                                </div>  
                                <div class="form-group" ng-if="promocion.tipoPromocion=='Tarjeta'" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                                    <label>Tarjeta</label>
                                    <select ng-model="promocion.tarjeta">  
                                    <option ng-repeat="x in tarjetas">{{x}}</option> 
                                    </select>            
                                </div> 
                              
                                <div class="form-group" ng-if="promocion.tipoDescuento=='Porcentaje'" ng-class="{ 'has-error' : form.porcentaje.$invalid && !form.porcentaje.$pristine }">
                                    <label>Porcentaje</label>
                                    <input type="text" name="porcentaje" class="form-control" ng-model="promocion.porcentaje" ng-minlength="1" ng-maxlength="3" required>
                                    <p ng-show="form.porcentaje.$invalid && !form.nombre.$pristine" class="help-block">El porcentaje es requerido</p>
                                    <p ng-show="form.porcentaje.$error.minlength" class="help-block">Porcentaje es muy corto.</p>
                                    <p ng-show="form.porcentaje.$error.maxlength" class="help-block">Porcentaje es muy largo.</p>
                                </div> 

                               
                                                        
                                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Cargar</button>
                                <button class="btn btn-primary" ui-sref="adminPromociones">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>        
</div>
