<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ui-sref="adminPersonal"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation" ui-sref="adminCines" class="active"><a href="#">Gestionar Cines</a></li>
                        <li role="presentation" ui-sref="adminPrecios"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation" ui-sref="adminPromociones"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation" ui-sref="adminSalas"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation" ui-sref="adminSlide"><a href="#">Gestionar Slides</a></li>
                        <br>
                        <br>
                        <br> 
                        <li role="presentation" ui-sref="adminConfiguracionGeneral"><a href="#">Configuracion General</a></li>
                        <li role="presentation" ui-sref="adminCuenta"><a href="#">Mi Cuenta</a></li>      
                    </ul>
                </div>
            </div>
        </div>
        

            <!-- BANCOS -->
                <div class = "col-md-9">
                    <div class="panel panel-default margin-top">
                        <div class="panel-body">
                            <button type="button" class="btn btn-primary" ng-click="alta()">Nuevo</button>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Hora de Apertura</th>
                                        <th>Hora de Cierre</th>
                                        <th>Duracion de Publicidad</th>
                                        <th>Duracion entre Funciones</th>
                                        <th>Duracion Tolerancia ultima Funcion</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr>
                                        <th>Cinemar Temperleyr</th>
                                        <th>8:00</th>
                                        <th>23:59</th>
                                        <th>20</th>
                                        <th>10</th>
                                        <th>45</th>
                                        
                                        <th>
                                            <button class="btn btn-info btn-sm" ng-click="modificar(cines)">
                                            Editar</button>
                                            <button class="btn btn-danger btn-sm" ng-click="borrar(cines)">
                                            Eliminar</button>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Cinemar Avellaneda</th>
                                        <th>10:00</th>
                                        <th>01:59</th>
                                        <th>15</th>
                                        <th>10</th>
                                        <th>40</th>
                                        <th>
                                            <button class="btn btn-info btn-sm" ng-click="modificar(cines)">
                                            Editar</button>
                                            <button class="btn btn-danger btn-sm" ng-click="borrar(cines)">
                                            Eliminar</button>
                                        </th>
                                    </tr>
                                    
                                </tbody>                    
                            </table>
                        </div>
                    </div>
                </div>
            </div>

</div>
