<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation"><a href="#">Gestionar Cines</a></li>
                        <li role="presentation"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation"><a href="#">Gestionar Slides</a></li>
                        <br>
                        <br>
                        <br> 
                        <li role="presentation"><a href="#">Configuracion General</a></li>    
                    </ul>
                </div>
            </div>
        </div>
        <!--CONTENIDO-->
        <div class="col-md-9">
            
        </div>
    </div>
</div>

