<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ui-sref="adminPersonal"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation" ui-sref="adminCines"><a href="#">Gestionar Cines</a></li>
                        <li role="presentation" ui-sref="adminPrecios"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation" ui-sref="adminPromociones" class="active"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation" ui-sref="adminSalas"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation" ui-sref="adminSlide"><a href="#">Gestionar Slides</a></li>
                        <br>
                        <br>
                        <br> 
                        <li role="presentation" ui-sref="adminConfiguracionGeneral"><a href="#">Configuracion General</a></li>        
                    </ul>
                </div>
            </div>
        </div>                                
                <div class = "col-md-9">
                    <div class="panel panel-default margin-top">
                        <form name="form" ng-submit="cargar()" novalidate>

                       <!-- Bancos -->
                        
                        <!-- Nombre -->
                        <fieldset>
                        <legend>-Nombre</legend>
                        <div class="form-group" ng-class="{ 'has-error' : form.nombre.$invalid && !form.nombre.$pristine }">
                            <label>Nombre</label>
                            <input type="text" name="nombre" class="form-control" ng-model="bancos.nombre" ng-minlength="3" ng-maxlength="15" required>
                            <p ng-show="form.nombre.$invalid && !form.nombre.$pristine" class="help-block">El nombre es requerido</p>
                            <p ng-show="form.nombre.$error.minlength" class="help-block">Nombre es muy corto.</p>
                            <p ng-show="form.nombre.$error.maxlength" class="help-block">Nombre es muy largo.</p>
                        </div>
                        </fieldset>
                        
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Cargar</button>
                        <button class="btn btn-primary" ui-sref="adminBancos">Cancelar</button>
                    </form>

                    </div>
                </div>
            </div>        
</div>
