<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ui-sref="adminPersonal"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation" ui-sref="adminCines" ><a href="#">Gestionar Cines</a></li>
                        <li role="presentation" ui-sref="adminPrecios" class="active"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation" ui-sref="adminPromociones"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation" ui-sref="adminSalas"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation" ui-sref="adminSlide" ><a href="#">Gestionar Slides</a></li>
                        <br>
                        <br>
                        <br> 
                        <li role="presentation" ui-sref="adminConfiguracionGeneral"><a href="#">Configuracion General</a></li>        
                    </ul>
                </div>
            </div>
        </div>                                
                <div class = "col-md-9">
                    <div class="panel panel-default margin-top">
                        <form name="form" ng-submit="cargar()" novalidate>

                       
                        
                        <!-- Complejo -->
                        <fieldset>
                        <legend>Complejo</legend>
                        <div class="form-group" ng-class="{ 'has-error' : form.complejo.$invalid && !form.complejo.$pristine }">
                            <label>Complejo</label>
                            <input type="text" name="complejo" class="form-control" ng-model="precios.complejo" ng-minlength="3" ng-maxlength="15" required>
                            <p ng-show="form.complejo.$invalid && !form.complejo.$pristine" class="help-block">El complejo es requerido</p>
                            <p ng-show="form.complejo.$error.minlength" class="help-block">Complejo es muy corto.</p>
                            <p ng-show="form.complejo.$error.maxlength" class="help-block">Complejo es muy largo.</p>
                        </div>
                        </fieldset>

                        <!-- Formato -->
                        <fieldset>
                        <legend>Formato</legend>
                        <div class="form-group" ng-class="{ 'has-error' : form.formato.$invalid && !form.formato.$pristine }">
                            <label>Formato</label>
                            <input type="text" name="formato" class="form-control" ng-model="precios.formato" ng-minlength="3" ng-maxlength="100" required>
                            <p ng-show="form.formato.$invalid && !form.formato.$pristine" class="help-block">El formato es requerida</p>
                            <p ng-show="form.formato.$error.minlength" class="help-block">Formato es muy corto.</p>
                            <p ng-show="form.formato.$error.maxlength" class="help-block">Formato es muy largo.</p>
                        </div>
                        </fieldset>

                         <!-- Monto -->
                        <fieldset>
                        <legend>Monto</legend>
                        <div class="form-group" ng-class="{ 'has-error' : form.monto.$invalid && !form.monto.$pristine }">
                            <label>Monto</label>
                            <input type="text" name="monto" class="form-control" ng-model="precios.monto" ng-minlength="3" ng-maxlength="100" required>
                            <p ng-show="form.monto.$invalid && !form.monto.$pristine" class="help-block">El Monto es requerida</p>
                            <p ng-show="form.monto.$error.minlength" class="help-block">Monto es muy corto.</p>
                            <p ng-show="form.monto.$error.maxlength" class="help-block">Monto es muy largo.</p>
                        </div>
                        </fieldset>

                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Cargar</button>
                        <button class="btn btn-primary" ui-sref="adminPrecios">Cancelar</button>
                    </form>

                    </div>
                </div>
            </div>        
</div>
