<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="col-md-3">
            <div class="panel panel-default margin-top">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ui-sref="adminPersonal" class="active"><a href="#">Gestionar Personal</a></li>
                        <li role="presentation" ui-sref="adminCines"><a href="#">Gestionar Cines</a></li>
                        <li role="presentation" ui-sref="adminPrecios"><a href="#">Gestionar Precios</a></li>
                        <li role="presentation" ui-sref="adminPromociones"><a href="#">Gestionar Promociones</a></li> 
                        <li role="presentation" ui-sref="adminSalas"><a href="#">Gestionar Salas</a></li> 
                        <li role="presentation" ui-sref="adminSlide"><a href="#">Gestionar Slides</a></li>
                        <br>
                        <br>
                        <br> 
                        <li role="presentation" ui-sref="adminConfiguracionGeneral"><a href="#">Configuracion General</a></li>
                        <li role="presentation" ui-sref="adminCuenta"><a href="#">Mi Cuenta</a></li>          
                    </ul>
                </div>
            </div>
        </div>
        

            <!-- BANCOS -->
                <div class = "col-md-9">
                    <div class="panel panel-default margin-top">
                        <div class="panel-body">
                            <button type="button" class="btn btn-primary" ng-click="alta()">Nuevo</button>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>Tipo de Usuario</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                   <tr ng-repeat="persona in personal track by $index">
                                        <td>{{persona.nombre}}</td>
										<td>{{persona.email}}</td>
										<td>{{persona.password}}</td>
										<td>{{persona.tipoUsuario}}</td>
										
                                        <td>
                                            <button class="btn btn-info btn-sm" ng-click="modificar(persona)">
                                            Editar</button>
                                            <button class="btn btn-danger btn-sm" ng-click="borrar(persona)">
                                            Eliminar</button>
                                        </td>
                                    </tr>
                                    
                                </tbody>                    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        

</div>
