<!DOCTYPE html>
<html>
<head>
</head>
<body>

   <table style="font-family: Arial, Helvetica, sans-serif;">
        <tr>
               <td align="center" style="background-color: #00438E;" ><h1 style="color:#5BC0DE;">CINEMAR</h1></td>
        </tr>
        <tr>
              <td>
               <table style="padding:5px">                   
                   <tr>
                       <td>
                           <ul style="list-style: none;">
                               <li><h3>Ha realizado una Reserva</h3></li>
                               <li>req.body.usuario.userName</li>
                               <li><p>Su Reserva ha sido confirmada.</p></li>
                                <li><p>Sus entradas deberan ser retiradas antes del req.body.dia a las req.body.hora. <br>De lo contrario, usted sera ingresado a Lista Negra<br> y no podra realizar nuevas reservas hasta abonar lo debido.<br>(%req.body.porcentajeListaNegra del precio total de la reserva.)</p></li>
                                        
                           </ul>

                        </td>
                        <td>                           
                           <ul style="list-style: none;">
                               <li><h3>Datos de Reserva:</h3></li>
                               <li><strong>Pelicula:</strong></li>
                               <li>req.body.operacion.funcion.pelicula</li>
                               <li>req.body.operacion.funcion.formato+","+req.body.operacion.funcion.idioma</li>
                               <li>req.body.operacion.funcion.diaFormateado</li>
                               <br>
                               <li><strong>Entradas:</strong></li>    
                               <li>Cantidad: req.body.operacion.funcion.cantidadAsientos</li>        
                               <li>Precio total: $req.body.operacion.funcion.precioTotal</li>           
                           </ul>
                        </td>
                   </tr>                                         
               </table>               
              </td>
        </tr>
        <tr>
               <td style="background-color: #00438E;"><br><br><br></td>
        </tr>
    </table>
 

</body>
</html>