<!DOCTYPE html>
<html>
<head>
</head>
<body>

   <table style="font-family: Arial, Helvetica, sans-serif;">
        <tr>
               <td align="center" style="background-color: #00438E;" ><h1 style="color:#5BC0DE;">CINEMAR</h1></td>
        </tr>
        <tr>
              <td>
               <table style="padding:5px">                   
                   <tr>
                       <td>
                           
                              <h3>Lista Negra</h3>
                               <p>req.body.usuario.userName</p>
                               <p>Usted a sido salido de Lista Negra. Podra realizar reservas normalmente.</p>
                                        
                          

                        </td>
                        
                   </tr>                                         
               </table>               
              </td>
        </tr>
        <tr>
               <td style="background-color: #00438E;"><br><br><br></td>
        </tr>
    </table>
 

</body>
</html>