<!DOCTYPE html>
<html>
<head lang ="en">

    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cinemar</title>
    <!-- Latest compiled and minified CSS -
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery library 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->
    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>

    <!-- Latest compiled JavaScript 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>-->
    <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>

    <script type="text/javascript" src="lib/ui-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    
    <script type="text/javascript" src="lib/angular/angular-cookies.min.js"></script>

    <script type="text/javascript" src="lib/angular/angular-filter.min.js"></script>

    <script type="text/javascript" src="lib/angular/angular-sanitize.min.js"></script>

    <script src="scripts/app.js"></script>
        
    <link rel = "stylesheet" type = "text/css" href = "css/style.css" />
    <link rel = "stylesheet" type = "text/css" href = "css/salas.css" />
    <link rel = "stylesheet" type = "text/css" href = "css/print.css" media="print"/>
    
    <script src="scripts/services/usuarios.js"></script>
    <script src="scripts/services/tiposUsuario.js"></script>
    <script src="scripts/services/user.service.local-storage.js"></script>
    <script src="scripts/services/authentication.service.js"></script>    
    <script src="scripts/services/datos.js"></script>
    <script src="scripts/services/salas.js"></script>
    <script src="scripts/services/complejos.js"></script>
    <script src="scripts/services/formatos.js"></script>
    <script src="scripts/services/idiomas.js"></script>
    <script src="scripts/services/slides.js"></script>
    <script src="scripts/services/funciones.js"></script>
    <script src="scripts/services/precios.js"></script>
    <script src="scripts/services/promociones.js"></script>
    <script src="scripts/services/bancos.js"></script>
    <script src="scripts/services/tarjetas.js"></script>    
    <script src="scripts/services/operaciones.js"></script>
    <script src="scripts/services/peliculas.js"></script>
    <script src="scripts/services/mail.js"></script>
    <script src="scripts/services/salasService.js"></script>
    <script src="scripts/services/notificaciones.js"></script>

    <script type="text/javascript" src="scripts/controllers/indexCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/mainCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/loginCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/registroCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/detallePeliculaCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/salasCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/seleccionEntradasCtrl.js"></script>    
    <script type="text/javascript" src="scripts/controllers/promosVigentesCtrl.js"></script>    
    <script type="text/javascript" src="scripts/controllers/contactanosCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/finalizarOperacionCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/datosOperacionCompraCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/ModalDemoCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/olvidoContraseniaCtrl.js"></script>

    <script type="text/javascript" src="scripts/controllers/cajero/cajeroAsientosCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/cajero/cajeroBuscarCodigoCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/cajero/cajeroEntradasCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/cajero/cajeroFinalizarCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/cajero/cajeroPagoCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/cajero/cajeroSeleccionPeliculaCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/cajero/cajeroCuentaCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/cajero/cajeroTicketCtrl.js"></script>

    <script type="text/javascript" src="scripts/controllers/usuario/usuarioCuentaCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/usuario/usuarioTarjetaCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/usuario/usuarioHistorialCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/usuario/usuarioReservaVencidaCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/usuario/usuarioFinalizarPagoCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/usuario/usuarioImprimirCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/usuario/usuarioBorrarCtrl.js"></script>

    <script type="text/javascript" src="scripts/controllers/admin/adminSlideCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminSlideFormCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminBancosCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminBancosFormCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminCinesCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminCinesFormCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminPersonalCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminPersonalFormCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminPreciosCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminPreciosFormCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminPromocionesCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminPromocionesFormCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminTarjetasCtrl.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/adminTarjetasCtrlForm.js"></script>

    <script type="text/javascript" src="scripts/controllers/empleado/empleadoNotificacionesCtrl.js"></script>
   
</head>

<body ng-app="cine" ng-controller="indexCtrl">
<div id="container">
  <!-- HEADER -->
    <div  class="container-fluid ">

        <div class="row text-center header hidden-print">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
            <a ng-click="main()">
                <h1 class="text-uppercase" style="color:#5BC0DE;">Cinemar</h1>
            </a>    
            </div>
            <div class="col-sm-2 btn-group-vertical">
                <a href="#" ng-if="!nombreUser" ui-sref="login" class="btn btn-info" role="button">Ingresar</a>
                <a href="#" ng-if="!nombreUser" ui-sref="registro" class="btn btn-info" role="button">Registrate</a>
                <a href="#" ng-if="nombreUser && tipoUser == 'Usuario'" ui-sref='usuarioMain' class="btn btn-info" role="button">{{nombreUser}}</a>
                <a href="#" ng-if="nombreUser && tipoUser == 'Cajero'" ui-sref='cajeroCuenta' class="btn btn-info" role="button">{{nombreUser}}</a>
                
                <a href="#" ng-if="nombreUser && tipoUser == 'Admin'" ui-sref='adminMain' class="btn btn-info" role="button">{{nombreUser}}</a>
                <a href="#" ng-if="nombreUser && tipoUser == 'Empleado'" ui-sref='empleadoMain' class="btn btn-info" role="button">{{nombreUser}}</a>
                <a href="#" ng-if="nombreUser" ng-click="logout()" class="btn btn-info" role="button">Log Out</a>
            </div>
        </div>

       
        <div ui-view></div>
        
        <div id="clearfooter"></div>
    </div>
 </div>
 <div class="row footer hidden-print">
     <div class="col-sm-3 footer"></div>
           <div class="col-sm-6 footer-content">

                <div class="foot-section">
                    <div>
                        <img src="images/icons/ticket.png" alt="imagen de un ticket" class="icon">
                    </div>  
                    <div class="text-center links">
                        <h3>Promociones</h3>
                        <a href="#" ui-sref="promosVigentes">Promociones Vigentes</a>
                    </div>
                </div>

                 <div class="foot-section">
                    <div>
                        <img src="images/icons/reel.png" alt="imagen de un rollo de pelicula" class="icon">
                    </div>  
                    <div class="text-center links">
                        <h3>Cinemar</h3>
                        <a href="#" ui-sref="quienesSomos">Quienes Somos</a>
                        <a href="#" ui-sref="contactanos">Contactanos</a>
                    </div>
                </div>

                <div class="foot-section">
                    <div>
                        <img src="images/icons/history.png" alt="imagen de un reloj" class="icon">
                    </div>  
                    <div class="text-center links">
                        <h3>Ingresá a tu Historial de Compras</h3>
                        <a href="#">Historial</a>
                    </div>
                </div>

        </div>
         <div class="col-sm-3 footer"></div>
</div>
</body>
</html>
