<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="row">
        <div class="col-md-12">        
            <nav class="navbar navbar-default">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li ui-sref="empleadoNotificaciones"><a href="#">Notificaciones</a></li>
                        <li ui-sref="empleadoFunciones" class="active" ><a href="#">Funciones</a></li>
                        <li ui-sref="empleadoPeliculas"><a href="#">Peliculas</a></li>
                        <li ui-sref="empleadoCuenta"><a href="#">Mi Cuenta</a></li>
                    </ul>
                </div>
            </nav>       
        </div>
    </div>                          
                <div class = "col-md-9">
                    <div class="panel panel-default margin-top">
                        <form name="form" ng-submit="cargar()" novalidate>

                        <!-- Pelicula -->
                        <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                            <label>Pelicula</label>
                            <select ng-model="funcion.pelicula._id" ng-options="x._id as x.formateada for x in peliculas">  
                              <option value="">Seleccione</option>           
                            </select>            
                        </div>  

                        <!-- Sala -->
                        <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                            <label>Sala</label>
                            <select ng-model="funcion.sala._id" ng-options="x._id as x.formateada for x in salas">  
                              <option value="">Seleccione</option>           
                            </select>            
                        </div> 

                        <!-- Dia -->
                        <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                            <label>Día</label>
                            <select ng-model="funcion.dia" ng-options="x for x in dias">  
                              <option value="">Seleccione</option>           
                            </select>            
                        </div> 
                                                                                         
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Cargar</button>
                        <button class="btn btn-primary" ui-sref="adminSlide">Cancelar</button>
                    </form>

                    </div>
                </div>
            </div>        
</div>
