<div class="container">
    <div class="row">
        <!--MENU-->
        <div class="row">
        <div class="col-md-12">        
            <nav class="navbar navbar-default">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li ui-sref="empleadoNotificaciones"><a href="#">Notificaciones</a></li>
                        <li ui-sref="empleadoFunciones" class="active" ><a href="#">Funciones</a></li>
                        <li ui-sref="empleadoPeliculas"><a href="#">Peliculas</a></li>
                        <li ui-sref="empleadoCuenta"><a href="#">Mi Cuenta</a></li>
                    </ul>
                </div>
            </nav>        
        </div>
    </div>                          
                <div class = "col-md-9">
                    <div class="panel panel-default margin-top">
                        <form name="form" ng-submit="cargar()" novalidate>

                        <div class="form-group" ng-class="{ 'has-error' : form.nombre.$invalid && !form.nombre.$pristine }">
                                    <label>Titulo</label>
                                    <input type="text" name="nombre" class="form-control" ng-model="pelicula.nombre" ng-minlength="3" ng-maxlength="30" required>
                                    <p ng-show="form.nombre.$invalid && !form.nombre.$pristine" class="help-block">El nombre es requerido</p>
                                    <p ng-show="form.nombre.$error.minlength" class="help-block">Nombre es muy corto.</p>
                                    <p ng-show="form.nombre.$error.maxlength" class="help-block">Nombre es muy largo.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.imageUrl.$invalid && !form.imageUrl.$pristine }">
                                    <label>Image Url</label>
                                    <input type="text" name="imageUrl" class="form-control" ng-model="pelicula.imageUrl" ng-minlength="3" ng-maxlength="40" required>
                                    <p ng-show="form.imageUrl.$invalid && !form.imageUrl.$pristine" class="help-block">El image Url es requerido</p>
                                    <p ng-show="form.imageUrl.$error.minlength" class="help-block">ImageUrl es muy corto.</p>
                                    <p ng-show="form.imageUrl.$error.maxlength" class="help-block">ImageUrl es muy largo.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.trailerUrl.$invalid && !form.trailerUrl.$pristine }">
                                    <label>Trailer Url</label>
                                    <input type="text" name="trailerUrl" class="form-control" ng-model="pelicula.trailerUrl" ng-minlength="3" ng-maxlength="40" required>
                                    <p ng-show="form.trailerUrl.$invalid && !form.trailerUrl.$pristine" class="help-block">El trailerUrl es requerido</p>
                                    <p ng-show="form.trailerUrl.$error.minlength" class="help-block">TrailerUrl es muy corto.</p>
                                    <p ng-show="form.trailerUrl.$error.maxlength" class="help-block">TrailerUrl es muy largo.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.descripcion.$invalid && !form.descripcion.$pristine }">
                                    <label>Descripcion</label>
                                    <input type="text" name="descripcion" class="form-control" ng-model="pelicula.descripcion" ng-minlength="3" ng-maxlength="15" required>
                                    <p ng-show="form.descripcion.$invalid && !form.descripcion.$pristine" class="help-block">El descripcion es requerido</p>
                                    <p ng-show="form.descripcion.$error.minlength" class="help-block">Descripcion es muy corto.</p>
                                    <p ng-show="form.descripcion.$error.maxlength" class="help-block">Descripcion es muy largo.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.genero.$invalid && !form.genero.$pristine }">
                                    <label>Genero</label>
                                    <input type="text" name="genero" class="form-control" ng-model="pelicula.genero" ng-minlength="3" ng-maxlength="15" required>
                                    <p ng-show="form.genero.$invalid && !form.genero.$pristine" class="help-block">El genero es requerido</p>
                                    <p ng-show="form.genero.$error.minlength" class="help-block">Genero es muy corto.</p>
                                    <p ng-show="form.genero.$error.maxlength" class="help-block">Genero es muy largo.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.duracion.$invalid && !form.duracion.$pristine }">
                            <label>Duracion (minutos)</label>
                            <input type="number" name="duracion" class="form-control" ng-model="pelicula.duracion" ng-min="1" ng-max="200" required>
                            <p ng-show="form.duracion.$invalid && !form.duracion.$pristine" class="help-block">La Duracion es requerido</p>
                            <p ng-show="form.duracion.$error.min" class="help-block">Duracion debe ser mayor.</p>
                            <p ng-show="form.duracion.$error.max" class="help-block">Duracion debe ser menor.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.semanas.$invalid && !form.semanas.$pristine }">
                            <label>Cantidad Semanas Activa</label>
                            <input type="number" name="semanas" class="form-control" ng-model="pelicula.semanasActiva" ng-min="1" ng-max="30" required>
                            <p ng-show="form.semanas.$invalid && !form.semanas.$pristine" class="help-block">Las semanas son requeridas</p>
                            <p ng-show="form.semanas.$error.min" class="help-block">Semanas debe ser mayor.</p>
                            <p ng-show="form.semanas.$error.max" class="help-block">Semanas debe ser menor.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.tituloOriginal.$invalid && !form.tituloOriginal.$pristine }">
                                    <label>Titulo Original</label>
                                    <input type="text" name="tituloOriginal" class="form-control" ng-model="pelicula.tituloOriginal" ng-minlength="3" ng-maxlength="15" required>
                                    <p ng-show="form.tituloOriginal.$invalid && !form.tituloOriginal.$pristine" class="help-block">El tituloOriginal es requerido</p>
                                    <p ng-show="form.tituloOriginal.$error.minlength" class="help-block">Titulo Original es muy corto.</p>
                                    <p ng-show="form.tituloOriginal.$error.maxlength" class="help-block">Titulo Original es muy largo.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.director.$invalid && !form.director.$pristine }">
                                    <label>Director</label>
                                    <input type="text" name="director" class="form-control" ng-model="pelicula.director" ng-minlength="3" ng-maxlength="15" required>
                                    <p ng-show="form.director.$invalid && !form.director.$pristine" class="help-block">El director es requerido</p>
                                    <p ng-show="form.director.$error.minlength" class="help-block">Director es muy corto.</p>
                                    <p ng-show="form.director.$error.maxlength" class="help-block">Director es muy largo.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.calificacion.$invalid && !form.calificacion.$pristine }">
                                    <label>Calificacion</label>
                                    <input type="text" name="calificacion" class="form-control" ng-model="pelicula.calificacion" ng-minlength="3" ng-maxlength="15" required>
                                    <p ng-show="form.calificacion.$invalid && !form.calificacion.$pristine" class="help-block">La calificacion es requerida</p>
                                    <p ng-show="form.calificacion.$error.minlength" class="help-block">Calificacion es muy corto.</p>
                                    <p ng-show="form.calificacion.$error.maxlength" class="help-block">Calificacion es muy largo.</p>
                        </div>
                       

                        <!-- Formatos -->
                        <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                            <label>Formatos</label>
                            <select ng-model="pelicula.formato._id" ng-options="x._id as x.nombre for x in formatos">  
                              <option value="">Seleccione</option>           
                            </select>            
                        </div>  

                        <!-- Idiomas -->
                        <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                            <label>Idiomas</label>
                            <select ng-model="pelicula.idioma._id" ng-options="x._id as x.nombre for x in idiomas">  
                              <option value="">Seleccione</option>           
                            </select>            
                        </div> 

                        <!-- Estados -->
                        <div class="form-group" ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine }">
                            <label>Estados</label>
                            <select ng-model="pelicula.estado" ng-options="x for x in estados">  
                              <option value="">Seleccione</option>           
                            </select>            
                        </div> 

                          <!-- Fecha -->
                        <div class="form-group" ng-class="{ 'has-error' : form.fechaEstreno.$invalid && !form.fechaEstreno.$pristine }">
                            <label>Fecha de Estreno</label>
                            <input type=date  name="fechaEstreno" class="form-control" ng-model="pelicula.fechaEstreno" required>
                            <p ng-show="form.fechaEstreno.$invalid && !form.fechaEstreno.$pristine" class="help-block">Ingrese una Fecha de Estreno válida.</p>
                        </div>
                                                                                                         
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Cargar</button>
                        <button class="btn btn-primary" ui-sref="empleadoPeliculas">Cancelar</button>
                    </form>

                    </div>
                </div>
            </div>        
</div>
