<div class="container">
    <div class="row">
        <div class="col-md-12">        
            <nav class="navbar navbar-default">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li ui-sref="empleadoNotificaciones"><a href="#">Notificaciones</a></li>
                        <li ui-sref="empleadoFunciones" class="active" ><a href="#">Funciones</a></li>
                        <li ui-sref="empleadoPeliculas"><a href="#">Peliculas</a></li>
                        <li ui-sref="empleadoCuenta"><a href="#">Mi Cuenta</a></li>
                    </ul>
                </div>
            </nav>       
        </div>
    </div>
            
    <div class="row">
        <div class="col-md-12">

            <button type="button" class="btn btn-primary" ng-click="alta()">Nuevo</button>
                        <!--    <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Pelicula</th>                                       
                                        <th>Sala</th>
                                        <th>Día</th>
                                        <th>Horario</th>
                                        <th>Complejo</th>
                                        <th>Formato</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>  
                                    <tr ng-repeat="funcion in funciones track by $index">
                                         <td>
                                          {{funcion.pelicula.nombre}}
                                        </td>                                       
                                        <td>
                                          {{funcion.sala.nombre}}
                                        </td>
                                         <td>
                                          {{funcion.dia}}
                                        </td>
                                         <td>
                                          {{funcion.hora}}
                                        </td>   
                                        <td>
                                          {{funcion.complejo.nombre}}
                                        </td> 
                                        <td>
                                          {{funcion.formato.nombre}}
                                        </td>                                      
                                        <td>                                            
                                            <button class="btn btn-danger btn-sm" ng-click="borrar(funcion)">Eliminar</button>
                                            <div ng-if="funcion.error != null && funcion.error" class="alert alert-danger">No es posible eliminar</div>
                                        </td>
                                    </tr>                                                                       
                                </tbody>                    
                            </table> -->
                    <div class="panel-group">
                    <div class="panel panel-default" ng-repeat="(key, value) in funciones                     
                    | groupBy: '[complejo.nombre,pelicula.nombre,sala.nombre,formato.nombre,idioma.nombre,diaFormateado]'">
                        <div class="panel-heading">
                            {{ formatear(key) }} 
                            <button class="btn btn-danger btn-sm" ng-click="borrar(value)">Eliminar</button>                                                        
                        </div>
                        <div class="panel-body">                              
                            <div ng-repeat="funcion in value" style="display:inline;"> 
                               {{ formatearHora(funcion) }}
                            </div> 
                        </div>
                    </div>
                    </div>
        </div>
    </div>
</div>