<div class="container">
    <div class="row">
        <div class="col-md-12">        
            <nav class="navbar navbar-default">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li ui-sref="empleadoNotificaciones" class="active"><a href="#">Notificaciones</a></li>
                        <li ui-sref="empleadoFunciones" ><a href="#">Funciones</a></li>
                        <li ui-sref="empleadoPeliculas"><a href="#">Peliculas</a></li>
                    </ul>
                </div>
            </nav>       
        </div>
    </div>
    <!--NOTIFICACION (NG-REPEAT)-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">{{fecha}}Reserva</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>La pelicula {{titulo}} esta en su ultima semana de funciones.</p>
                            <p>¿Desea extenderla una semana mas?</p>
                        </div>
                    </div>
                    <div class="row">                        
                        <!--<div class="col-md-9"></div>-->
                        <div class="col-md-12">
                                    <input type="button" class="btn btn-primary" value="Extender" ui-sref="#">  
                                    <input type="button" class="btn btn-primary" value="No Extender" ui-sref="#">
                        </div>
                    </div>                       
                </div>
                <div class="panel-footer">
                     <form action="" class="form-horizontal">
                         <!--ng-repeat-->
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="sala">Sala:</label>
                            <div class="col-sm-6">
                                <input type="text" name="sala" class="form-control" readonly="readonly" ng-model="sala.nombre">
                            </div>
                            <div class="col-sm-4">
                                <input type="button" class="btn btn-primary" value="Extender" ui-sref="#">  
                                <input type="button" class="btn btn-primary" value="No Extender" ui-sref="#">
                            </div>
                     
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
