<div class="container">
    <div class="row">
        <div class="col-md-12">        
            <nav class="navbar navbar-default">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li ui-sref="empleadoNotificaciones"><a href="#">Notificaciones</a></li>
                        <li ui-sref="empleadoFunciones" class="active" ><a href="#">Funciones</a></li>
                        <li ui-sref="empleadoPeliculas"><a href="#">Peliculas</a></li>
                        <li ui-sref="empleadoCuenta"><a href="#">Mi Cuenta</a></li>
                    </ul>
                </div>
            </nav>       
        </div>
    </div>
            
    <div class="row">
        <div class="col-md-12">

            <button type="button" class="btn btn-primary">Nuevo</button>

            <table class="table table-condensed">
                <thead>
                    <tr>                    
                        <th>Pelicula</th>
                        <th>Sala</th>
                        <th>Dia</th>
                        <th>Horarios</th>
                        <th>Complejo</th>
                        <th>Formato</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>                    
                        <td>La Llegada</td>
                        <td>Sala Media 3</td>
                        <td>05/06/2017</td>
                        <td>10:00 15:30</td>
                        <td>Cinemar Avellaneda</td>
                        <td>2D</td>    
                        <td>
                        <button class="btn btn-info btn-sm">Editar</button>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                    </tr>
                    <tr>                    
                        <td>Logan</td>
                        <td>Sala Media 3</td>
                        <td>08/06/2017</td>
                        <td>12:30 18:40 21:00</td>
                        <td>Cinemar Quilmes</td>
                        <td>3D</td> 
                        <td>
                        <button class="btn btn-info btn-sm">Editar</button>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                    </tr>                               
                </tbody>                    
            </table>
        </div>
    </div>
</div>


    
        
