<div class="container">
    <div class="row">
        <div class="col-md-12">        
            <nav class="navbar navbar-default">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li ui-sref="empleadoNotificaciones"><a href="#">Notificaciones</a></li>
                        <li ui-sref="empleadoFunciones"  ><a href="#">Funciones</a></li>
                        <li ui-sref="empleadoPeliculas" class="active"><a href="#">Peliculas</a></li>
                        <li ui-sref="empleadoCuenta"><a href="#">Mi Cuenta</a></li>
                    </ul>
                </div>
            </nav>       
        </div>
    </div>
            
    <div class="row">
        <div class="col-md-12">

            <button type="button" class="btn btn-primary">Nuevo</button>

            <table class="table table-condensed">
                <thead>
                    <tr>                    
                        <th>Nombre</th>
                        <th>Genero</th>
                        <th>Sintesis</th>
                        <th>Fecha Estreno</th>
                        <th>Duracion</th>
                        <th>Cant. Sem. Act.</th>
                        <th>Formato</th>
                        <th>Idioma</th>
                        <th>URL Imagen</th>
                        <th>Titulo Original</th>
                        <th>Director</th>
                        <th>Calif.</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>                    
                        <td>Logan</td>
                        <td>Accion</td>
                        <td>Un Superheroe que...</td>
                        <td>20/02/2017</td>
                        <td>80</td>
                        <td>4</td>
                        <td>2D - 3D</td>
                        <td>Subtitulado - Español</td>
                        <td>10.255.10/logan.jpeg</td>
                        <td></td>
                        <td>George</td> 
                        <td>P13</td> 
                        <td>
                        <button class="btn btn-info btn-sm">Editar</button>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                    </tr>
                    <tr>                    
                        <td>La Llegada</td>
                        <td>Ciencia Ficcion</td>
                        <td>llegan los alienigenas</td>
                        <td>05/01/2017</td>
                        <td>100</td>
                        <td>3</td>
                        <td>2D</td>
                        <td>Subtitulado</td>
                        <td>10.255.10/llegada.jpeg</td>
                        <td>Arrival</td>
                        <td>Loth</td> 
                        <td>P13</td> 
                        <td>
                        <button class="btn btn-info btn-sm">Editar</button>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                    </tr>                               
                </tbody>                    
            </table>
        </div>
    </div>
</div>


    
        
