
<div class="container">
    <div class="row">
        <div class="col-md-12">        
            <nav class="navbar navbar-default">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Notificaciones</a></li>
                        <li  ><a href="#">Funciones</a></li>
                        <li><a href="#">Peliculas</a></li>
                    </ul>
                </div>
            </nav>       
        </div>
    </div>
</div>

    
        
