<div class="container">
    <div class="row">
        <div class="col-md-12">        
            <nav class="navbar navbar-default">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li ui-sref="empleadoNotificaciones" class="active"><a href="#">Notificaciones</a></li>
                        <li ui-sref="empleadoFunciones" ><a href="#">Funciones</a></li>
                        <li ui-sref="empleadoPeliculas"><a href="#">Peliculas</a></li>
                    </ul>
                </div>
            </nav>       
        </div>
    </div>
    <!--NOTIFICACION (NG-REPEAT)-->
    <div ng-if="notificaciones.length > 0">
    <div class="row" ng-repeat="notificacion in notificaciones"> <!-- | filter: { ocultar: false }">-->
      <div ng-if="notificacion.funciones.length > 0">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">{{notificacion.pelicula.nombre}}</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>La película {{notificacion.pelicula.nombre}} esta en su última semana de funciones.</p>
                            <p>¿Desea extenderla una semana más?</p>
                        </div>
                    </div>
                    <div class="row">                        
                        <!--<div class="col-md-9"></div>-->
                        <div class="col-md-12" ng-if="notificacion.extendida != null && !notificacion.extendida">
                                    <input type="button" class="btn btn-primary" value="Extender" ng-click="extender(notificacion)">  
                                    <input type="button" class="btn btn-primary" value="No Extender" ng-click="noExtender(notificacion)">
                        </div>
                    </div>                       
                </div>
                <div class="panel-footer" ng-if="notificacion.extendida != null && notificacion.extendida">
                     <form class="form-horizontal">
                         <!--ng-repeat-->
                        <div class="form-group" ng-repeat="funcion in notificacion.funciones">
                            <label class="control-label col-sm-2" for="sala">Sala:</label>
                            <div class="col-sm-6">
                                <input type="text" name="sala" class="form-control" readonly="readonly" ng-model="funcion.sala.nombre">
                            </div>
                            <div class="col-sm-4">
                                <input type="button" class="btn btn-primary" value="Extender" ng-click="extenderFuncion(notificacion,funcion)">  
                                <input type="button" class="btn btn-primary" value="No Extender" ng-click="noExtenderFuncion(notificacion,funcion)">
                            </div>
                     
                        </div>
                    </form> 
                </div>
            </div>
        </div>
        </div>
    <div ng-if="notificacion.funciones.length == 0"> La funciones de {{notificacion.pelicula.nombre}} en su complejo no necesitan renovarse </div>   
    </div>
    </div>
    <div ng-if="notificaciones.length == 0"> Sin notificaciones </div>
</div>