<div class="col-md-6 col-md-offset-3" ng-controller="datosOperacionCompraCtrl" style="padding-top: 100px;">
  <div class="row">
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="#">1. Entradas</a></li>
                    <li><a href="#">2. Ubicaciones</a></li>
                    <li class="active"><a href="#">3. Pago</a></li> 
                    <li><a href="#">4. Confirmacion</a></li>
                </ul>
            </div>
        </nav>
  
   </div>     

    
                       <h2>DATOS DE COMPRA </h2>                     
 
                      <div class="form-group">
                        <label for="country">Seleccione Banco <span class="require">*</span></label>
                        <select class="form-control input-sm" id="country">
                          <option value="0">Seleccione Banco</option>
                          <option value="1">Galicia</option>
                          <option value="2">Santander Rio</option>
                          <option value="3">Banco Macro</option>
                          <option value="4">Banco Ciudad</option>
                          <option value="5">HSBC</option>
                          <option value="6">Banco Patagonia</option>
                          <option value="7">Superville</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="country">Seleccione Tarjeta <span class="require">*</span></label>
                        <select class="form-control input-sm" id="country">
                          <option value="0">Seleccione Tarjeta</option>
                          <option value="1">Visa</option>
                          <option value="2">MasterCard</option>
                          <option value="3">American Express</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="company">Numero de Tarjeta</label>
                        <input type="text" id="company" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="address2">Titular</label>
                        <input type="text" id="address2" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="dni">Dni</label>
                        <input type="text" id="dni" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="country">Vencimieto <span class="require">*</span></label>
                        <select class="form-control input-sm" id="country">
                          <option value="0">Mes</option>
                          <option value="1">Enero</option>
                          <option value="2">Febreo</option>
                          <option value="3">Marzo</option>
                          <option value="4">Abril</option>
                          <option value="5">Mayo</option>
                          <option value="6">Junio</option>
                          <option value="7">Julio</option>
                          <option value="8">Agosto</option>
                          <option value="9">Septiembre</option>
                          <option value="10">Octubre</option>
                          <option value="11">Noviembre</option>
                           <option value="12">Diciembre</option>
                        </select>
                        <select class="form-control input-sm" id="country">
                          <option value="0">Año</option>
                          <option value="1">2017</option>
                          <option value="2">2018</option>
                          <option value="3">2019</option>
                          <option value="4">2020</option>
                          <option value="5">2021</option>
                          <option value="6">2022</option>
                          <option value="7">2023</option>
                          <option value="8">2024</option>
                        </select>
                      </div>
                      
                        <div class="form-group">
                        <label for="code">Codigo de seguridad</label>
                        <input type="text" id="code" class="form-control">
                        </div>


                      <div class="form-group form-inline centered">
                   
                     <input type="button" class="btn btn-info" value="Continuar" ui-sref="#" >
                     <input type="button" class="btn btn-info" value="Cancelar" ui-sref="main">              
                    
                     </div>

                     
                      
                    
</div>