<div class="col-md-6 col-md-offset-3" ng-controller="datosOperacionCompraCtrl" style="padding-top: 100px;">
  <div class="row">
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="#">1. Entradas</a></li>
                    <li><a href="#">2. Ubicaciones</a></li>
                    <li class="active"><a href="#">3. Pago</a></li> 
                    <li><a href="#">4. Confirmacion</a></li>
                </ul>
            </div>
        </nav>
  
   </div>     

    
                       <h2>DATOS DE COMPRA </h2>                     
 
                      <div class="form-group">
                        <label for="banco">Seleccione Banco <span class="require">*</span></label>
                        <select class="form-control input-sm" ng-options="item.nombre for item in bancos" ng-model="funcion.operacion.banco">
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="tarjeta">Seleccione Tarjeta <span class="require">*</span></label>
                        <select class="form-control input-sm" id="tarjeta" ng-options="item.nombre for item in tarjetas" ng-model="funcion.operacion.tarjeta">
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="numeroTarjeta">Numero de Tarjeta</label>
                        <input type="text" id="numeroTarjeta" class="form-control" ng-model="funcion.operacion.numeroTarjeta">
                      </div>
                      <div class="form-group">
                        <label for="titular">Titular</label>
                        <input type="text" id="titular" class="form-control" ng-model="funcion.operacion.titular">
                      </div>
                      <div class="form-group">
                        <label for="dni">Dni</label>
                        <input type="text" id="dni" class="form-control" ng-model="funcion.operacion.dni">
                      </div>
                      <div class="form-group">
                        <label for="vencimiento">Vencimieto <span class="require">*</span></label>
                        <select class="form-control input-sm" id="vencimiento" ng-model="funcion.operacion.vencimiento.mes">
                          <option value="1">Enero</option>
                          <option value="2">Febreo</option>
                          <option value="3">Marzo</option>
                          <option value="4">Abril</option>
                          <option value="5">Mayo</option>
                          <option value="6">Junio</option>
                          <option value="7">Julio</option>
                          <option value="8">Agosto</option>
                          <option value="9">Septiembre</option>
                          <option value="10">Octubre</option>
                          <option value="11">Noviembre</option>
                           <option value="12">Diciembre</option>
                        </select>
                        <select class="form-control input-sm" id="año" ng-model="funcion.operacion.vencimiento.year">
                          <option value="1">2017</option>
                          <option value="2">2018</option>
                          <option value="3">2019</option>
                          <option value="4">2020</option>
                          <option value="5">2021</option>
                          <option value="6">2022</option>
                          <option value="7">2023</option>
                          <option value="8">2024</option>
                        </select>
                      </div>
                      
                        <div class="form-group">
                        <label for="codigoSeguridad">Codigo de seguridad</label>
                        <input type="text" id="codigoSeguridad" class="form-control" ng-model="funcion.operacion.codigoSeguridad">
                        </div>


                      <div class="form-group form-inline centered">
                   
                     <input type="button" class="btn btn-info" value="Continuar" ui-sref="finalizarOperacion" >
                     <input type="button" class="btn btn-info" value="Cancelar" ui-sref="main">              
                    
                     </div>

                     
                      
                    
</div>