   <!-- BREAK -->   
    <div class="row">
      <div class="col-sm-12 break"></div>   
    </div>
        
    <div class="row" style="padding-top: 100px;">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <!--Video-->
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/duGqrYw4usE" frameborder="0" allowfullscreen></iframe>
            </div>
    <div class="row">
        <div class="col-md-6">
            <div class="movie text-center">                        
            <img ng-src="{{filtro.pelicula.imageUrl}}" alt="poster" class="img-thumbnail img-poster">                                   
            <p>{{filtro.pelicula.nombre}}</p>                        
            </div>
        </div>

        <div class="col-md-6">
            <!--Sinopsis-->
            <ul class="nav nav-tabs" style="padding-top: 20px;">
                <li ng-class="{active:isSet(1)}"><a href ng-click="setTab(1)">Sinopsis</a></li>
                <li ng-class="{active:isSet(2)}"><a href ng-click="setTab(2)">Ficha Técnica</a></li>
            </ul>

            <div class="tab-content">
                <div ng-show="isSet(1)" id="sinopsis"> <!--class="tab-pane fade">-->
                <h3>Sinopsis</h3>
                <p>{{filtro.pelicula.descripcion}}</p>
                </div>
                <div ng-show="isSet(2)" id="ficha"> <!-- class="tab-pane fade">-->
                <h3>Ficha Técnica</h3>
                    <ul>
                        <li>Título Original: {{filtro.pelicula.tituloOriginal}}</li>
                        <li>Género: {{filtro.pelicula.genero}}</li>
                        <li>Director: {{filtro.pelicula.director}}</li>
                        <li>Calificación: {{filtro.pelicula.calificacion}}</li>
                        <li>Duración: {{filtro.pelicula.duracion}} minutos</li>
                    </ul>
                </div>                
            </div>  
        </div>            
    </div>
        </div>
        <div class="col-md-6">
            <!--Formato-->
            <div class="form-group">
                <label for="selFormato">Formato: </label>                   
                <select class="form-control" id="selFormato" ng-model="filtro.formato" ng-options="x for x in formatos"></select> 
            </div>
            <!--idioma-->
            <div class="form-group">
                <label for="selIdioma">Idioma: </label>                   
                <select class="form-control" id="selIdioma" ng-model="filtro.idioma" ng-options="x for x in idiomas"></select> 
            </div>
            <!--Dia-->
            <div class="form-group">
                <label for="selDia">Día: </label>                   
                <select class="form-control" id="selDia" ng-model="filtro.diaNombre" ng-options="x for x in fechasDias" ng-change="filtrarDia()"></select> 
            </div>
            <!--Complejo-->
            <div class="form-group">
                <label for="selComplejo">Complejo: </label>                   
                <select class="form-control" id="selComplejo" ng-model="filtro.complejo.nombre" ng-options="x for x in complejos"></select> 
            </div>

            <div>
                <ul ng-repeat="(key, value) in funciones 
                | filter: {formato: filtro.formato, idioma: filtro.idioma, complejo:{nombre: filtro.complejo.nombre},diaTime: filtro.diaLocale,pelicula:{nombre: filtro.pelicula.nombre}}
                | groupBy: '[complejo.nombre,formato,idioma,diaFormateado]'">
                    {{ formatear(key) }}                    
                    <li ng-repeat="funcion in value">
                    <a href="#" ng-click="cargar(funcion)"> <!-- ui-sref="detallePelicula">-->
                        {{funcion.hora.getHours() + ":" + (funcion.hora.getMinutes() == "0"? "00" : funcion.hora.getMinutes()) }}
                    </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>    
