<div class="col-md-6 col-md-offset-3" ng-controller="datosOperacionCompraCtrl" style="padding-top: 100px;">
  <div class="row">
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="#">1. Entradas</a></li>
                    <li><a href="#">2. Ubicaciones</a></li>
                    <li class="active"><a href="#">3. Pago</a></li> 
                    <li><a href="#">4. Confirmacion</a></li>
                </ul>
            </div>
        </nav>
  
   </div>     
                        <h2>DATOS DE COMPRA </h2>
                        <form name="form" ng-submit="datosOperacionCompra()" role="form">
                        
                                           
 
                      <div class="form-group" ng-class="{ 'has-error': form.banco.$dirty && form.banco.$error.required }"> 
                        <label for="banco">Seleccione Banco <span class="require">*</span></label>
                        <select class="form-control input-sm" ng-options="item.nombre for item in bancos" ng-model="funcion.operacion.banco" required>
                        </select>
                        <span ng-show="form.banco.$dirty && form.banco.$error.required" class="help-block">Banco es requerido</span>
                      </div>
                      <div class="form-group" ng-class="{ 'has-error': form.titular.$dirty && form.titular.$error.required }"> 
                        <label for="tarjeta">Seleccione Tarjeta <span class="require">*</span></label>
                        <select class="form-control input-sm" id="tarjeta" ng-options="item.nombre for item in tarjetas" ng-model="funcion.operacion.tarjeta" required>
                        </select>
                         <span ng-show="form.tarjeta.$dirty && form.tarjeta.$error.required" class="help-block">Tarjeta es requerido</span>
                      </div>
                       <div class="form-group" ng-class="{ 'has-error': form.promociones.$dirty && form.promociones.$error.required }"> 
                        <label for="tarjeta">Seleccione Promociones <span class="require">*</span></label>
                        <select class="form-control input-sm" id="promociones" ng-options="item.nombre for item in promociones" ng-model="funcion.operacion.promociones" required>
                        </select>
                         <span ng-show="form.promociones.$dirty && form.promociones.$error.required" class="help-block">Promocion es requerido</span>
                      </div>
                       <div class="form-group" ng-class="{ 'has-error': form.titular.$dirty && form.titular.$error.required }">
                        <label for="titular">Titular</label>
                        <input type="text" id="titular" class="form-control" ng-model="funcion.operacion.titular" required>
                       <span ng-show="form.titular.$dirty && form.titular.$error.required" class="help-block">Titular es requerido</span>
                       
                      </div>
                      <div class="form-group" ng-class="{ 'has-error': form.dni.$dirty && form.dni.$error.required }"> 
                        <label for="dni">Dni</label>
                        <input type="text" id="dni" class="form-control" ng-model="funcion.operacion.dni" ng-minlength="3" ng-maxlength="8" required>
                         <span ng-show="form.dni.$dirty && form.dni.$error.required" class="help-block">dni es requerido</span>
                          <span ng-show="userForm.name.$error.minlength" class="help-block">Nombre es muy corto.</span>
                           <span ng-show="userForm.name.$error.maxlength" class="help-block">Nombre es muy largo.</span>

                     </div>
                      <div class="form-group" ng-class="{ 'has-error': form.vencimiento.$dirty && form.vencimiento.$error.required }"> 
                        <label for="vencimiento">Vencimiento <span class="require">*</span></label>
                        <select class="form-control input-sm" id="vencimiento" ng-options="item.nombre for item in mes" ng-model="funcion.operacion.vencimiento.mes" required/>
                         <span ng-show="form.vencimiento.$dirty && form.vencimiento.$error.required" class="help-block">Mes y año es requerido</span>
                        </select>  
                          <!--  
                          <option value="1">Enero</option>
                          <option value="2">Febreo</option>
                          <option value="3">Marzo</option>
                          <option value="4">Abril</option>
                          <option value="5">Mayo</option>
                          <option value="6">Junio</option>
                          <option value="7">Julio</option>
                          <option value="8">Agosto</option>
                          <option value="9">Septiembre</option>
                          <option value="10">Octubre</option>
                          <option value="11">Noviembre</option>
                           <option value="12">Diciembre</option>
                        </select-->
                         <div class="form-group"> 
                      
                        <select class="form-control input-sm" id="vencimiento" ng-options="item.nombre for item in year" ng-model="funcion.operacion.vencimiento.year">
                        </select> 
                         </div>
                          <!--  
                          <option value="1">2017</option>
                          <option value="2">2018</option>
                          <option value="3">2019</option>
                          <option value="4">2020</option>
                          <option value="5">2021</option>
                          <option value="6">2022</option>
                          <option value="7">2023</option>
                          <option value="8">2024</option>
                        </select-->
                      </div>
                      
                        <div class="form-group" ng-class="{ 'has-error': form.codigoSeguridad.$dirty && form.codigoSeguridad.$error.required }" > 
                        <label for="codigoSeguridad">Codigo de seguridad</label>
                        <input type="text" id="codigoSeguridad" class="form-control" ng-model="funcion.operacion.codigoSeguridad" required/>
                        <span ng-show="form.codigoSeguridad.$dirty && form.codigoSeguridad.$error.required" class="help-block">Codigo de Seguridad es requerido</span>
                        </div>


                      <div class="form-group form-inline centered">
                   
                     <input type="button" ng-disabled="form.$invalid" class="btn btn-info" value="Continuar" ui-sref="finalizarOperacion" >
                     <input type="button" class="btn btn-info" value="Cancelar" ui-sref="main">              
                    
                     </div>

                     
           </form>           
                    
</div>