<div class="col-md-12 container-fluid" ng-controller="quienesSomosCtrl" style="padding-top: 100px;">
    <h1>QUIENES SOMOS</h1>
    <p>Cinemar SA es una empresa que se dedica a proveer experiencias de entretenimineto, expandiendo el tradicional</p>
    <p>negocio de la exhibicion de peliculas cinematograficas para conjugarlos con atractivos y novedosos desarrollos</p>
    <p>inmobiliarios. Especificamente creamos puntos de destino, es decir, lugares donde nuestros clientes encuentren un</p>
    <p>atractivo entorno para disfrutar de una salida placentera</p>
    <br>
    <br>
    <br>    
    <p>Cinemar abre sus puertas en Enero de 2006 en la ciudad de Temperley el primer "Cinemar", tranformandose en el primer complejo</p>
    <p>de la Zona Sur del GBA.</p>
    <p>Menos de un año despues, Cinemar desembarca en Quilmes con un complejo de 6 salas(2 con tecnologia digital 3D) - 1900 butacas,</p>
    <p>desarrollandose al mismo tiempo un actractivo Centro Comercial integarado y estacionamiento con capacidad para 1000 autos, </p>
    <p>convirtiendose en uno de los empredimentos mas importantes de la Zona Sur del GBA.</p>
    <p>En 2008, Cinemar inauguro Cinemar Lanus con 8 salas con butacas del tipo "Love Seat"(apoyabrazos novibles), 2 salas digitales 3D,</p>
    <p>que suman 3200 butacas.</p>
    <p>Ese mismo año también inaugura Cinemar Avellaneda donde sus 13 salas(3 salas digitasles 3D) con 3000 butacas, se complementan</p>
    <p>con locales comerciales, restaurantes, bowling y un area de juegos.</p>
    <p>Durante 2009 Cinemar continuo expandiondose inaugurando en Agosto Cinemar Adrogue. Este complejo de 6 salas(2 con tecnologia digital 3D)</p>
    <p>y 1270 butacas convoca masivamente al publico de la zona</p>
    <p>Las salas de todos los complejos Cinemar estan equipadas con tecnologia de ultima generacion en sonido e imagen. La ubicacion</p>
    <p>"Full Stadium" de las butacas garantiza la vision total de la pantalla desde cualquier ubicacion. Asimismo, Cinemar posee butacas</p>
    <p>numeradas y cuenta con servicio de reservay venta de entradas por internet y boleterias</p>
    <p>En Cinemar nos esforzamos dia a dia para brindar un excelente servicio, tener la mejor tecnologia de audio y proyeccion, creando un lugar</p>
    <p>de destino en los que nuestros clientes encuentran un atractivo entorno para disfrutar de una salida placentera mas alla de ver una</p>
    <p>pelicula en la mejor sala.</p>
    <p>Buscamos tener alianzas estrategicas con las principales marcas, bebidas, tarjetas,etc. Ser innovadores en promociones y participar en</p>
    <p>diferentes programas de Responsabilidad Social.</p>
    <p>"En Cinemar desarrollamos puntos de destino donde se une la mas alta calidad de exhibicion de peliculas con una variada y atractiva oferta</p>
    <p>comercial que asegura disfrutar de la mejor experiencia de entretenimiento"</p>
    
</div>