
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Buscar Transaccion</a></li>
                    <li><a href="#">Compra Presencial</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <label for="codigo">Codigo:</label>
                    <input type="text" class="form-control" id="codigo" ng-model="codigo">
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-info" value="Buscar" ng-click="buscar(codigo)"> 
                </div>
            </form>                   
        </div>
    </div>
    <!-- DATOS FUNCION -->
    <div class="row" ng-if="operacion != null">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">DATOS FUNCION</div>
                <div class="panel-body">
                    <p>Pelicula: {{operacion.funcion.pelicula.nombre}} - {{operacion.funcion.idioma.nombre}}</p>
                    <p>Funcion: {{operacion.funcion.diaFormateado}} - {{ formatearHora(operacion.funcion) }}</p>
                    <p>Complejo: {{operacion.funcion.complejo.nombre}}</p>
                    <p>Cantidad de Asientos: {{operacion.funcion.cantidadAsientos}}</p>
                </div>
            </div>                 
        </div>
    </div>
    <!-- RESERVA -->
    <!-- SEL METODO DE PAGO -->
    <div class="row" ng-if="operacion.funcion.transaccion.tipoTransaccion == 'reserva'">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">METODO DE PAGO</div>
                <div class="panel-body">
                    <label class="radio-inline"><input type="radio" name="metodoPago" ng-click="operacion.tipo = 'efectivo'">Efectivo</label>
                    <label class="radio-inline"><input type="radio" name="metodoPago" ng-click="operacion.tipo = 'credito'">Credito</label>
                    <label class="radio-inline"><input type="radio" name="metodoPago" ng-click="operacion.tipo = 'debito'">Debito</label>
                </div>
            </div>
        </div>
    </div>
    <!-- EFECTIVO -->
    <div class="row" ng-if="operacion.funcion.transaccion.tipoTransaccion == 'reserva' && operacion.tipo == 'efectivo'">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">DATOS COMPRA</div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="precio">Entradas:</label>
                            <div class="col-sm-10">
                                <input ng-repeat="entrada in operacion.funcion.entradas" type="text" name="precio" class="form-control" readonly="readonly" value="{{formatearEntrada(entrada)}}">
                            </div>
                        </div>
                       <!-- <div class="form-group">
                            <label class="control-label col-sm-2" for="promocion">Promocion: <span class="require">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control input-sm" name="promocion" ng-options="" ng-model="" required>
                                </select>
                                <span ng-show="form.promociones.$dirty && form.promociones.$error.required" class="help-block">Promocion es requerido</span>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="total">Monto Total:</label>
                            <div class="col-sm-10">
                                <input type="text" name="total" class="form-control" readonly="readonly" value="{{total()}}">
                            </div>
                        </div>
                         <!--BOTONES-->
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-inline">
                                        <div class="form-group centered">
                                    
                                            <input type="button" ng-disabled="form.$invalid" class="btn btn-info" value="Continuar" ng-click="cargar()" >
                                            <input type="button" class="btn btn-info" value="Cancelar" ui-sref="cajeroMain">              
                                    
                                        </div>
                                </form>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- TARGETAS -->
    <div class="row">
        <div class="col-md-12">
            <div ng-if="operacion.funcion.transaccion.tipoTransaccion == 'reserva' && (operacion.tipo == 'credito' || operacion.tipo == 'debito')">
            <div class="panel panel-default">
                <div class="panel-heading">DATOS COMPRA</div>
                <div class="panel-body">
                    <form name="form" class="form-horizontal" role="form">
                    
                                        

                    <div class="form-group" ng-class="{ 'has-error': form.banco.$dirty && form.banco.$error.required }"> 
                        <label class="control-label col-sm-2" for="banco">Seleccione Banco <span class="require">*</span></label>
                         <div class="col-sm-10">
                            <select class="form-control input-sm" ng-options="item.nombre for item in bancos" ng-model="operacion.funcion.operacion.banco" required>
                            </select>
                            <span ng-show="form.banco.$dirty && form.banco.$error.required" class="help-block">Banco es requerido</span>
                         </div>
                        
                      </div>

                      <div class="form-group" ng-class="{ 'has-error': form.titular.$dirty && form.titular.$error.required }"> 
                        <label class="control-label col-sm-2" for="tarjeta">Seleccione Tarjeta <span class="require">*</span></label>
                         <div class="col-sm-10">
                            <select class="form-control input-sm" id="tarjeta" ng-options="item.nombre for item in tarjetas" ng-model="operacion.funcion.operacion.tarjeta" required>
                            </select>
                            <span ng-show="form.tarjeta.$dirty && form.tarjeta.$error.required" class="help-block">Tarjeta es requerido</span>
                         </div>
                         
                      </div>

                      <div ng-if="operacion.funcion.operacion.banco !=null && operacion.funcion.operacion.tarjeta!=null && !hayPromo">

                        <div class="form-group" ng-class="{ 'has-error': form.promociones.$dirty && form.promociones.$error.required }"> 
                          <label class="control-label col-sm-2" for="tarjeta">Seleccione Promociones <span class="require">*</span></label>
                          <div class="col-sm-10">
                              <select class="form-control input-sm" id="promociones" ng-options="item.nombre for item in promociones | filter :{banco:{nombre:operacion.funcion.operacion.banco.nombre}, tarjeta:{nombre:operacion.funcion.operacion.tarjeta.nombre}}" ng-model="operacion.funcion.operacion.promociones">
                                 <option value="">Sin promoción</option>
                              </select>
                              <span ng-show="form.promociones.$dirty && form.promociones.$error.required" class="help-block">Promocion es requerido</span>
                          </div>
                          
                        </div>
                      </div>

                       <div class="form-group" ng-class="{ 'has-error': form.titular.$dirty && form.titular.$error.required }">
                        <label class="control-label col-sm-2" for="titular">Titular</label>
                         <div class="col-sm-10">
                           <input type="text" id="titular" class="form-control" ng-model="operacion.funcion.operacion.titular" required>
                            <span ng-show="form.titular.$dirty && form.titular.$error.required" class="help-block">Titular es requerido</span>
                         </div>
                      
                      </div>

                      <div class="form-group" ng-class="{ 'has-error': form.dni.$dirty && form.dni.$error.required }"> 
                        <label class="control-label col-sm-2" for="dni">Dni</label>
                         <div class="col-sm-10">
                        <input type="text" id="dni" class="form-control" ng-model="operacion.funcion.operacion.dni" ng-minlength="8" ng-maxlength="8" required>
                          <span ng-show="form.dni.$dirty && form.dni.$error.required" class="help-block">dni es requerido</span>
                            <span ng-show="userForm.name.$error.minlength" class="help-block">DNI es muy corto.</span>
                            <span ng-show="userForm.name.$error.maxlength" class="help-block">DNI es muy largo.</span>
                         </div>

                     </div>

                       <div class="form-group" ng-class="{ 'has-error': form.nroTarjeta.$dirty && form.nroTarjeta.$error.required }"> 
                        <label class="control-label col-sm-2" for="nroTarjeta">Número de tarjeta</label>
                         <div class="col-sm-10">
                        <input type="text" id="nroTarjeta" class="form-control" ng-model="operacion.funcion.operacion.nroTarjeta" ng-minlength="15" ng-maxlength="16" required>
                          <span ng-show="form.nroTarjeta.$dirty && form.nroTarjeta.$error.required" class="help-block">Número de tarjeta es requerido</span>
                            <span ng-show="userForm.name.$error.minlength" class="help-block">Número de tarjeta es muy corto.</span>
                            <span ng-show="userForm.name.$error.maxlength" class="help-block">Número de tarjeta es muy largo.</span>
                         </div>

                     </div>

                      <div class="form-group" ng-class="{ 'has-error': form.vencimiento.$dirty && form.vencimiento.$error.required }"> 
                        <label class="control-label col-sm-2" for="vencimiento">Vencimiento <span class="require">*</span></label>
                         <div class="col-sm-10">
                            <select class="form-control input-sm" id="vencimiento" ng-options="item.nombre for item in mes" ng-model="operacion.funcion.operacion.vencimiento.mes" required>
                            <span ng-show="form.vencimiento.$dirty && form.vencimiento.$error.required" class="help-block">Mes y año es requerido</span>
                            </select> 
                            
                            <select class="form-control input-sm" id="vencimiento" ng-options="item.nombre for item in year" ng-model="operacion.funcion.operacion.vencimiento.year">
                            </select>  
                         </div>
                      </div>
                      
                        <div class="form-group" ng-class="{ 'has-error': form.codigoSeguridad.$dirty && form.codigoSeguridad.$error.required }" > 
                          <label class="control-label col-sm-2" for="codigoSeguridad">Codigo de seguridad</label>
                          <div class="col-sm-10"> 
                            <input type="text" id="codigoSeguridad" class="form-control" ng-model="operacion.funcion.operacion.codigoSeguridad" required/>
                            <span ng-show="form.codigoSeguridad.$dirty && form.codigoSeguridad.$error.required" class="help-block">Codigo de Seguridad es requerido</span>
                          </div>
                        </div>

                         <!--BOTONES-->
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-inline">
                                        <div class="form-group centered">
                                    
                                            <input type="button" ng-disabled="form.$invalid" class="btn btn-info" value="Continuar" ng-click="cargar()" >
                                            <input type="button" class="btn btn-info" value="Cancelar" ui-sref="cajeroMain">              
                                    
                                        </div>
                                </form>
                            </div>
                            
                        </div>
                    </form>

                </div>
            </div>                 
        </div>
        </div>
    </div>

    <!-- COMPRA -->
    <div class="row">
        <div class="col-md-12">
            <div ng-if="operacion.funcion.transaccion.tipoTransaccion == 'compra'">
            <div class="panel panel-default">
                <div class="panel-heading">DATOS COMPRA</div>
                <div class="panel-body">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="banco">Banco:</label>
                            <div class="col-sm-10">
                                <input type="text" name="banco" class="form-control" readonly="readonly" ng-model="operacion.funcion.operacion.banco.nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="tarjeta">Tarjeta:</label>
                            <div class="col-sm-10">
                                <input type="text" name="tarjeta" class="form-control" readonly="readonly" ng-model="operacion.funcion.operacion.tarjeta.nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="titular">Titular:</label>
                            <div class="col-sm-10">
                                <input type="text" name="titular" class="form-control" readonly="readonly" ng-model="operacion.funcion.operacion.titular">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="dni">DNI:</label>
                            <div class="col-sm-10">
                                <input type="text" name="dni" class="form-control" readonly="readonly" ng-model="operacion.funcion.operacion.dni">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="vencimiento">Vencimiento:</label>
                            <div class="col-sm-10">
                                <input type="text" name="vencimiento" class="form-control" readonly="readonly" ng-model="operacion.funcion.operacion.vencimiento.mes.nombre">
                                <input type="text" name="vencimiento" class="form-control" readonly="readonly" ng-model="operacion.funcion.operacion.vencimiento.year.nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="codigoSeguridad">Codigo de Seguridad:</label>
                            <div class="col-sm-10">
                                <input type="text" name="codigoSeguridad" class="form-control" readonly="readonly" ng-model="operacion.funcion.operacion.codigoSeguridad">
                            </div>
                        </div>

                         <!--BOTONES-->
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-inline">
                                        <div class="form-group centered">
                                    
                                            <input type="button" ng-disabled="form.$invalid" class="btn btn-info" value="Continuar" ng-click="cargar()" >
                                            <input type="button" class="btn btn-info" value="Cancelar" ui-sref="cajeroMain">              
                                    
                                        </div>
                                </form>
                            </div>
                            
                        </div>

                    </form>                        
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--BOTONES-->
  <!--  <div class="row" ng-if="operacion != null">
        <div class="col-md-12">
            <form class="form-inline">
                    <div class="form-group centered">
                
                        <input type="button" ng-disabled="form.$invalid" class="btn btn-info" value="Continuar" ng-click="cargar()" >
                        <input type="button" class="btn btn-info" value="Cancelar" ui-sref="cajeroMain">              
                
                    </div>
            </form>
        </div>
        
    </div> -->
        
</div>
