
<div class="container">
    <button type="button" class="btn btn-primary hidden-print" ng-click="imprimir()" ui-sref="cajeroBuscarCodigo">Imprimir</button>
    <div class="ticket" ng-repeat="a in asientos">
        <!--<div class="row">-->
            <h3>{{operacion.funcion.pelicula.nombre}}</h2>
            <div class="row">
                <table class="table table-bordered">
                    
                    <thead>
                    <tr>
                        <th>Complejo</th>
                        <th>Sala</th>
                        <th>Asiento</th>                    
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{operacion.funcion.complejo.nombre}}</td>
                        <td>{{operacion.funcion.sala.nombre}}</td>            
                        <td>{{a.id}}</td>                   
                    </tr>                
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table table-bordered">                    
                    <thead>
                    <tr>
                        <th>Precio</th>
                        <th>Fecha</th>    
                        <th>Hora</th>                  
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>${{calcularPrecio(operacion.funcion.entradas)}}</td>  
                        <td>{{operacion.funcion.diaFormateado}}</td>      
                        <td>{{formatearHora(operacion.funcion)}}</td>
                    </tr>               
                    </tbody>
                </table>
            </div>
    </div>
</div>