<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                    <li ui-sref="cajeroBuscarCodigo"><a href="#">Buscar Transaccion</a></li>
                    <li ui-sref="cajeroSeleccionPelicula" class="active"><a href="#">Compra Presencial</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
<div class = "col-md-12">
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ><a >1. Entradas</a></li>
                <li><a >2. Ubicaciones</a></li>
                <li class="active"><a >3. Pago</a></li> 
                <li><a >4. Confirmacion</a></li>
            </ul>
        </div>
    </nav>
</div>
</div>
    <!--SELECCION DE METODO DE PAGO-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">METODO DE PAGO</div>
                <div class="panel-body">
                    <label class="radio-inline"><input type="radio" name="metodoPago" ng-click="funcion.operacion.tipoPago = 'efectivo'">Efectivo</label>
                    <label class="radio-inline"><input type="radio" name="metodoPago" ng-click="funcion.operacion.tipoPago = 'credito'">Credito</label>
                    <label class="radio-inline"><input type="radio" name="metodoPago" ng-click="funcion.operacion.tipoPago = 'debito'">Debito</label>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="funcion.operacion.tipoPago=='efectivo'">
        <!-- EFECTIVO -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">DATOS COMPRA</div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                            <label class="control-label col-sm-2" for="precio">Entradas:</label>
                            <div class="col-sm-10">
                                <input ng-repeat="entrada in funcion.entradas" type="text" name="precio" class="form-control" readonly="readonly" value="{{formatearEntrada(entrada)}}">
                            </div>
                        </div>                       
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="total">Monto Total:</label>
                            <div class="col-sm-10">
                                <input type="text" name="total" class="form-control" readonly="readonly" value="{{funcion.precioTotal}}">
                            </div>
                        </div>
                         <!--BOTONES-->
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-inline">
                                        <div class="form-group centered">
                                    
                                            <input type="button" ng-disabled="form.$invalid" class="btn btn-info" value="Continuar" ng-click="cargar(funcion)" ui-sref="cajeroFinalizar">
                                            <input type="button" class="btn btn-info" value="Cancelar" ui-sref="cajeroMain">              
                                    
                                        </div>
                                </form>
                            </div>                            
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="funcion.operacion.tipoPago=='debito' || funcion.operacion.tipoPago == 'credito'">
        <!-- DEBITO O CREDITO -->
            <div class="row">
            <div class="col-md-12">
                <div ng-if="funcion.transaccion.tipoTransaccion == 'compra'">
                <div class="panel panel-default">
                    <div class="panel-heading">DATOS COMPRA</div>
                    <div class="panel-body">
                        <form name="form" class="form-horizontal" role="form">

                        <div class="form-group" ng-class="{ 'has-error': form.banco.$dirty && form.banco.$error.required }"> 
                        <label class="control-label col-sm-2" for="banco">Seleccione Banco <span class="require">*</span></label>
                            <div class="col-sm-10">
                            <select class="form-control input-sm" ng-options="item.nombre for item in bancos" ng-model="funcion.operacion.banco" required>
                            </select>
                            <span ng-show="form.banco.$dirty && form.banco.$error.required" class="help-block">Banco es requerido</span>
                            </div>                        
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.titular.$dirty && form.titular.$error.required }"> 
                        <label class="control-label col-sm-2" for="tarjeta">Seleccione Tarjeta <span class="require">*</span></label>
                            <div class="col-sm-10">
                            <select class="form-control input-sm" id="tarjeta" ng-options="item.nombre for item in tarjetas" ng-model="funcion.operacion.tarjeta" required>
                            </select>
                            <span ng-show="form.tarjeta.$dirty && form.tarjeta.$error.required" class="help-block">Tarjeta es requerido</span>
                            </div>                            
                        </div>

                        <div ng-if="funcion.operacion.banco !=null && funcion.operacion.tarjeta!=null && !hayPromo">

                        <div class="form-group" ng-class="{ 'has-error': form.promociones.$dirty && form.promociones.$error.required }"> 
                            <label class="control-label col-sm-2" for="tarjeta">Seleccione Promociones <span class="require">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control input-sm" id="promociones" ng-options="item.nombre for item in promociones | filter :{banco:{nombre:funcion.operacion.banco.nombre}, tarjeta:{nombre:funcion.operacion.tarjeta.nombre}}" ng-model="funcion.operacion.promociones">
                                 <option value="">Sin promoción</option>
                                </select>
                                <span ng-show="form.promociones.$dirty && form.promociones.$error.required" class="help-block">Promocion es requerido</span>
                            </div>                            
                        </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.titular.$dirty && form.titular.$error.required }">
                        <label class="control-label col-sm-2" for="titular">Titular</label>
                            <div class="col-sm-10">
                            <input type="text" id="titular" class="form-control" ng-model="funcion.operacion.nombreTitular" required>
                            <span ng-show="form.titular.$dirty && form.titular.$error.required" class="help-block">Titular es requerido</span>
                            </div>                        
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.dni.$dirty && form.dni.$error.required }"> 
                        <label class="control-label col-sm-2" for="dni">Dni</label>
                            <div class="col-sm-10">
                        <input type="text" id="dni" class="form-control" ng-model="funcion.operacion.dniTitular" ng-minlength="3" ng-maxlength="8" required>
                            <span ng-show="form.dni.$dirty && form.dni.$error.required" class="help-block">dni es requerido</span>
                            <span ng-show="userForm.name.$error.minlength" class="help-block">DNI es muy corto.</span>
                            <span ng-show="userForm.name.$error.maxlength" class="help-block">DNI es muy largo.</span>
                            </div>
                        </div>


                       <div class="form-group" ng-class="{ 'has-error': form.nroTarjeta.$dirty && form.nroTarjeta.$error.required }"> 
                        <label class="control-label col-sm-2" for="nroTarjeta">Número de tarjeta</label>
                         <div class="col-sm-10">
                        <input type="text" id="nroTarjeta" class="form-control" ng-model="funcion.operacion.nroTarjeta" ng-minlength="15" ng-maxlength="16" required>
                          <span ng-show="form.nroTarjeta.$dirty && form.nroTarjeta.$error.required" class="help-block">Número de tarjeta es requerido</span>
                            <span ng-show="userForm.name.$error.minlength" class="help-block">Número de tarjeta es muy corto.</span>
                            <span ng-show="userForm.name.$error.maxlength" class="help-block">Número de tarjeta es muy largo.</span>
                         </div>
                     </div>

                         <div class="form-group" ng-class="{ 'has-error': form.vencimiento.$dirty && form.vencimiento.$error.required }"> 
                        <label class="control-label col-sm-2" for="vencimiento">Vencimiento <span class="require">*</span></label>
                        <div class="col-sm-10">
                            <select class="form-control input-sm" id="vencimientoMes" ng-model="funcion.operacion.fechaVencimiento.mes" required>
                                <option ng-repeat="x in mes">{{x}}</option>
                            <span ng-show="form.vencimiento.$dirty && form.vencimiento.$error.required" class="help-block">Mes y año es requerido</span>
                            </select> 
                            
                            <select class="form-control input-sm" id="vencimientoYear" ng-model="funcion.operacion.fechaVencimiento.year" required>
                                <option ng-repeat="x in year">{{x}}</option>
                            </select>  
                        </div>
                    </div>
                        
                        <div class="form-group" ng-class="{ 'has-error': form.codigoSeguridad.$dirty && form.codigoSeguridad.$error.required }" > 
                            <label class="control-label col-sm-2" for="codigoSeguridad">Codigo de seguridad</label>
                            <div class="col-sm-10"> 
                            <input type="text" id="codigoSeguridad" class="form-control" ng-model="funcion.operacion.codigoSeguridad" required/>
                            <span ng-show="form.codigoSeguridad.$dirty && form.codigoSeguridad.$error.required" class="help-block">Codigo de Seguridad es requerido</span>
                            </div>
                        </div>

                           <!--BOTONES-->
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-inline">
                                        <div class="form-group centered">                                    
                                            <input type="button" ng-disabled="form.$invalid" class="btn btn-info" value="Continuar" ng-click="cargar(funcion)" ui-sref="cajeroFinalizar" >
                                            <input type="button" class="btn btn-info" value="Cancelar" ui-sref="cajeroMain">                                                  
                                        </div>
                                </form>
                            </div>                            
                        </div>
                        </form>
                    </div>
                </div>                 
            </div>
            </div>
        </div>
    </div>   
</div>
