<div class="col-md-6 col-md-offset-3" ng-controller="datosOperacionCompraCtrl" style="padding-top: 100px;">
  <div class="row">
        <nav class="navbar navbar-default">
            <div class="container"> 
                <ul class="nav navbar-nav">
                    <li><a href="#">1. Entradas</a></li>
                    <li><a href="#">2. Ubicaciones</a></li>
                    <li class="active"><a href="#">3. Pago</a></li> 
                    <li><a href="#">4. Confirmacion</a></li>
                </ul>
            </div>
        </nav>
   
   </div>     
                        <h2>DATOS DE COMPRA </h2>
                        <form name="form" class="form-horizontal" role="form">
                        
                                           
 
                      <div class="form-group" ng-class="{ 'has-error': form.banco.$dirty && form.banco.$error.required }"> 
                        <label class="control-label col-sm-2" for="banco">Seleccione Banco <span class="require">*</span></label>
                         <div class="col-sm-10">
                            <select class="form-control input-sm" ng-options="item.nombre for item in bancos" ng-model="funcion.operacion.banco" required>
                            </select>
                            <span ng-show="form.banco.$dirty && form.banco.$error.required" class="help-block">Banco es requerido</span>
                         </div>
                        
                      </div>  

                      <div class="form-group" ng-class="{ 'has-error': form.titular.$dirty && form.titular.$error.required }"> 
                        <label class="control-label col-sm-2" for="tarjeta">Seleccione Tarjeta <span class="require">*</span></label>
                         <div class="col-sm-10">
                            <select class="form-control input-sm" id="tarjeta" ng-options="item.nombre for item in tarjetas" ng-model="funcion.operacion.tarjeta" required>
                            </select>
                            <span ng-show="form.tarjeta.$dirty && form.tarjeta.$error.required" class="help-block">Tarjeta es requerido</span>
                         </div>
                         
                      </div> 

                      <div ng-if="funcion.operacion.banco !=null && funcion.operacion.tarjeta!=null && !hayPromo"> 

                        <div class="form-group" ng-class="{ 'has-error': form.promociones.$dirty && form.promociones.$error.required }"> 
                          <label class="control-label col-sm-2" for="tarjeta">Seleccione Promociones <span class="require">*</span></label>
                          <div class="col-sm-10">
                              <select class="form-control input-sm" id="promociones" ng-options="item.nombre for item in promociones | filter :{banco:{nombre:funcion.operacion.banco.nombre}, tarjeta:{nombre:funcion.operacion.tarjeta.nombre}}" ng-model="funcion.operacion.promociones">
                                 <option value="">Sin promoción</option>
                              </select>
                              <span ng-show="form.promociones.$dirty && form.promociones.$error.required" class="help-block">Promocion es requerido</span>
                          </div>
                          
                        </div>
                      </div>

                       <div class="form-group" ng-class="{ 'has-error': form.titular.$dirty && form.titular.$error.required }">
                        <label class="control-label col-sm-2" for="titular">Titular</label>
                         <div class="col-sm-10">
                           <input type="text" id="titular" class="form-control" ng-model="funcion.operacion.nombreTitular" required>
                            <span ng-show="form.titular.$dirty && form.titular.$error.required" class="help-block">Titular es requerido</span>
                         </div>
                      
                      </div>

                      <div class="form-group" ng-class="{ 'has-error': form.dni.$dirty && form.dni.$error.required }"> 
                        <label class="control-label col-sm-2" for="dni">Dni</label> 
                         <div class="col-sm-10">
                        <input type="text" id="dni" class="form-control" ng-model="funcion.operacion.dniTitular" ng-minlength="8" ng-maxlength="8" required>
                          <span ng-show="form.dni.$dirty && form.dni.$error.required" class="help-block">dni es requerido</span>
                            <span ng-show="userForm.name.$error.minlength" class="help-block">DNI es muy corto.</span>
                            <span ng-show="userForm.name.$error.maxlength" class="help-block">DNI es muy largo.</span>
                         </div>

                     </div> 

                       <div class="form-group" ng-class="{ 'has-error': form.nroTarjeta.$dirty && form.nroTarjeta.$error.required }"> 
                        <label class="control-label col-sm-2" for="nroTarjeta">Número de tarjeta</label>
                         <div class="col-sm-10">
                        <input type="text" id="nroTarjeta" class="form-control" ng-model="funcion.operacion.nroTarjeta" ng-minlength="15" ng-maxlength="16" required>
                          <span ng-show="form.nroTarjeta.$dirty && form.nroTarjeta.$error.required" class="help-block">Número de tarjeta es requerido</span>
                            <span ng-show="userForm.name.$error.minlength" class="help-block">Número de tarjeta es muy corto.</span>
                            <span ng-show="userForm.name.$error.maxlength" class="help-block">Número de tarjeta es muy largo.</span>
                         </div>

                     </div>

                      <div class="form-group" ng-class="{ 'has-error': form.vencimiento.$dirty && form.vencimiento.$error.required }"> 
                        <label class="control-label col-sm-2" for="vencimiento">Vencimiento <span class="require">*</span></label>
                        <div class="col-sm-10">
                            <select class="form-control input-sm" id="vencimientoMes" ng-model="funcion.operacion.fechaVencimiento.mes" required>
                                <option ng-repeat="x in mes">{{x}}</option>
                            <span ng-show="form.vencimiento.$dirty && form.vencimiento.$error.required" class="help-block">Mes y año es requerido</span>
                            </select> 
                            
                            <select class="form-control input-sm" id="vencimientoYear" ng-model="funcion.operacion.fechaVencimiento.year" required>
                                <option ng-repeat="x in year">{{x}}</option>
                            </select>  
                        </div>
                    </div>
                      
                        <div class="form-group" ng-class="{ 'has-error': form.codigoSeguridad.$dirty && form.codigoSeguridad.$error.required }" > 
                          <label class="control-label col-sm-2" for="codigoSeguridad">Codigo de seguridad</label>
                          <div class="col-sm-10"> 
                            <input type="text" id="codigoSeguridad" class="form-control" ng-model="funcion.operacion.codigoSeguridad" required/>
                            <span ng-show="form.codigoSeguridad.$dirty && form.codigoSeguridad.$error.required" class="help-block">Codigo de Seguridad es requerido</span>
                          </div>
                        </div>


                      <div class="form-group form-inline centered">
                   
                     <input type="button" ng-disabled="form.$invalid" class="btn btn-info" value="Continuar" ui-sref="finalizarOperacion" ng-click="cargar(funcion)" >
                     <input type="button" class="btn btn-info" value="Cancelar" ui-sref="main">              
                    
                     </div>

                     
           </form>           
                    
</div>