   <!-- BREAK -->   
    <div class="row">
      <div class="col-sm-12 break"></div>   
    </div>
        
    <div class="row" style="padding-top: 100px;">
        <div class="hidden-sm col-md-1"></div>
        <div class="col-xs-6 col-md-4">
            <div class="container-fluid">
            <!--Video-->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" ng-src="{{filtro.pelicula.trailerUrl | trusted}}" frameborder="0" allowfullscreen></iframe>
            </div>
            <br>
            <div class="row">
               <!-- <div class="col-md-5">
                    <div class="movie text-center">                        
                    <img class="img-responsive" ng-src="{{filtro.pelicula.imageUrl}}" alt="poster" class="img-thumbnail img-poster">                                   
                    <p>{{filtro.pelicula.nombre}}</p>                        
                    </div>
                </div>
                -->
                <div class="col-md-12">
                   
                                
                    <div class="btn-group">
                        <button type="button" ng-click="switch('f')"  class="btn btn-primary">Sinopsis</button>
                        <button type="button" ng-click="switch('Sinopsis')" class="btn btn-primary">Ficha Técnica</button>
                    </div>
                    <div class="panel panel-default">                                       
                          
                        <div class="panel-body" ng-show="panelString.nombre=='Sinopsis'">{{filtro.pelicula.descripcion}}</div>
                        <div class="panel-body" ng-show="panelString.nombre=='Ficha Técnica'">
                            <ul>
                                <li>Título Original: {{filtro.pelicula.tituloOriginal}}</li>
                                <li>Género: {{filtro.pelicula.genero}}</li>
                                <li>Director: {{filtro.pelicula.director}}</li>
                                <li>Calificación: {{filtro.pelicula.calificacion}}</li>
                                <li>Duración: {{filtro.pelicula.duracion}} minutos</li>
                            </ul>
                        </div>
                    </div>

                </div>            
            </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <!--Formato-->
            <div class="form-group">
                <label for="selFormato">Formato: </label>                   
                <select class="form-control" id="selFormato" ng-model="filtro.formato" ng-options="x._id  as x.nombre for x in formatos"></select> 
            </div>
            <!--idioma-->
            <div class="form-group">
                <label for="selIdioma">Idioma: </label>                   
                <select class="form-control" id="selIdioma" ng-model="filtro.idioma" ng-options="x._id as x.nombre for x in idiomas"></select> 
            </div>            
            <!--Complejo-->
            <div class="form-group">
                <label for="selComplejo">Complejo: </label>                   
                <select class="form-control" id="selComplejo" ng-model="filtro.complejo" ng-options="x._id as x.nombre for x in complejos"></select> 
            </div>
            <!--Dia-->
            <div class="form-group">
                <label for="selDia">Día: </label>                   
                <select class="form-control" id="selDia" ng-model="filtro.diaNombre" ng-options="x for x in fechasDias" ng-change="filtrarDia()"></select> 
            </div>
            <!--Buscar-->
            <div class="form-group">
                <button class="btn btn-primary filter-button" ng-click="buscarFunciones()">Ver funciones</button>
            </div>

            <div ng-if="funciones.length != 0">                             
                <div class="panel-group">
                <!--   <div class="panel panel-default" ng-repeat="(key, value) in funciones 
                    | filter: { formato:{_id:filtro.formato}, idioma:{_id:filtro.idioma}, complejo:{_id: filtro.complejo},diaTime: filtro.diaLocale,pelicula:{nombre: filtro.pelicula.nombre} }
                    | groupBy: '[complejo.nombre,formato.nombre,idioma.nombre,diaFormateado]'"> -->
                <div class="panel panel-default" ng-repeat="(key, value) in funciones 
                    | filter: {diaTime: filtro.diaLocale}
                    | groupBy: '[complejo.nombre,formato.nombre,idioma.nombre,diaFormateado]'">
                        <div class="panel-heading">
                            {{ formatear(key) }}  
                        </div>
                        <div class="panel-body "  >
                              <!--       <a href="#" ui-sref="salas" ng-click="cargar(funcion)">   -->
                               <ul class="list-inline">
                                   <li ng-repeat="funcion in value" class="pill-container">    
                                       <div class="blue-pill text-center" ng-click="cargar(funcion)" ui-sref="seleccionEntradas">
                                            <a href="#"  > 
                                            {{ formatearHora(funcion) }}</a> 
                                       </div>
                                   </li>
                               </ul>
                        </div>                        
                    </div>
                </div>
            </div>
            <div ng-if="funciones.length==0">Utilice los filtros para buscar funciones y presione el botón</div>
        </div>
        <div class="hidden-sm col-md-1"></div>
    </div>