  <!-- CAROUSEL -->
  <div ng-controller="mainCtrl">
        <div id="slides_control">
            <div class="col-sm-12">
             <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active" ng-click="cargarSlide(slide)" ui-sref="detallePelicula">
                 <img class="img-responsive center-block"  ng-src="{{slide.imageUrl}}" >
                <div class="carousel-caption">
                        <h4>{{slide.nombre}}</h4>
                        <h4>{{slide.descripcion}}</h4>
                </div>
                </slide>
             </carousel>        
            </div>          
        </div>
    <!-- BREAK -->
   
    <div class="row">
        <div class="col-sm-12 break"></div>   
    </div>
    
        <!-- FILTROS -->
        <div class="row panel panel-default">
            <div class="col-sm-2"></div>
            <form>
            <!-- COMPLEJO -->
            <div class="col-sm-10 panel-heading">
                <div class="col-xs-3 form-group">
                    <label for="selComplejo">Complejo: </label>                   
                     <select class="form-control" id="selComplejo" ng-model="filtro.complejo" ng-options="x._id as x.nombre for x in complejos" ng-change="loguear()">            
                     </select> 
                </div>
      
            <!-- FORMATO  -->                                
                <div class="col-xs-1 form-group">
                    <label for="selFormato">Formato: </label>                   
                    <select class="form-control" id="selFormato" ng-model="filtro.formato" ng-options="x._id as x.nombre for x in formatos" >        
                    </select> 
                </div>

            <!-- IDIOMA -->                
                 <div class="col-xs-2 form-group">
                    <label for="selIdioma">Idioma: </label>                   
                     <select class="form-control" id="selIdioma" ng-model="filtro.idioma" ng-options="x._id as x.nombre for x in idiomas" >        
                     </select> 
                 </div>

            <!-- DIA -->      
                <div class="col-xs-2 form-group">
                    <label for="selDia">Día: </label>                   
                     <select class="form-control" id="selDia" ng-model="filtro.dia" ng-options="x for x in fechasDias" ng-change="filtrarDia()">        
                     </select> 
                 </div>

            <!-- TODO -->
                <div class="col-xs-2 form-group">
                    <label for="btngroup-todo" style="color:transparent">todo</label>
                    <div class="btngroup" id="btngroup-todo">
                        <button class="btn btn-primary filter-button" data-filter="todo" ng-click="limpiarFiltro()">Ver Todo</button>
                    </div>
                </div>
            </div>
            </form>
            <div class="col-sm-2"></div>
        </div>

    <!-- LISTA DE PELICULAS -->
        <div class="row">
           <div class="col-sm-2"></div>
           <div class="col-sm-8 panel panel-default">                                                                                                                              
                 <div class="panel-body">                                                            
                  <!-- PELICULAS-->
                  <ul class="list-inline">
                  <span ng-show="funciones.length === 0">No hay funciones disponibles</span>
                  <li ng-repeat="funcion in funciones | filter:{ formato:{_id:filtro.formato}, idioma:{_id:filtro.idioma}, complejo:{_id: filtro.complejo},diaTime: filtro.diaLocale } | unique:'pelicula.nombre'">
                      <div class="movie text-center">
                        <a href="#" ng-click="cargar(funcion)" ui-sref="detallePelicula">
                          <img ng-src="{{funcion.pelicula.imageUrl}}" alt="poster"  class="img-thumbnail img-poster">                                   
                          <p>{{funcion.pelicula.nombre}}</p>
                        </a>
                      </div>
                  </li>
                  </ul>                   
                </div>            
            <div class="col-sm-2"></div>
        </div>

        <!-- BREAK -->   
        <div class="row">
            <div class="col-sm-12 break"></div>   
        </div>

        <!-- MAS VISTAS -->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 panel panel-default">               
                <div class="panel-heading">
                    <h2>Las Más Vistas</h2>
                </div>
                 <div class="panel-body">
                     <!-- PELICULAS -->
                    <ul class="list-inline">
                        <li>
                            <div class="movie text-center">
                                <a href="#">
                                    <img src="images/peliculas/BeautyAndTheBeast.jpg" alt="poster" class="img-thumbnail img-poster">
                                    <p>Bella y la Bestia</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="movie text-center">
                                <a href="#">
                                    <img src="images/peliculas/Logan.jpg" alt="poster" class="img-thumbnail img-poster">
                                    <p>Logan</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="movie text-center">
                                <a href="#">
                                    <img src="images/peliculas/StarWars.jpg" alt="poster" class="img-thumbnail img-poster">
                                    <p>Star Wars</p>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <!-- BREAK -->
   
        <div class="row">
            <div class="col-sm-12 break"></div>   
        </div>
         <!-- PROXIMAMENTE -->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 panel panel-default">
               
                <div class="panel-heading">
                    <h2>Próximos Estrenos</h2>
                </div>
                 <div class="panel-body">
                     <!-- PELICULAS -->
                    <ul class="list-inline">
                        <li>
                            <div class="movie text-center">
                                <a href="#">
                                    <img src="images/peliculas/BeautyAndTheBeast.jpg" alt="poster" class="img-thumbnail img-poster">
                                    <p>Bella y la Bestia</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="movie text-center">
                                <a href="#">
                                    <img src="images/peliculas/Logan.jpg" alt="poster" class="img-thumbnail img-poster">
                                    <p>Logan</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="movie text-center">
                                <a href="#">
                                    <img src="images/peliculas/StarWars.jpg" alt="poster" class="img-thumbnail img-poster">
                                    <p>Star Wars</p>

                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>       
    </div>