<div class="col-md-12 container-fluid"  ng-controller="promosVigentesCtrl" style="padding-top: 100px;">
    <h1>CINES</h1>
    <h2>Promos Vigentes</h2>
    <p>Disfrutar una buena película y ahorrar es posible en los complejos Cinemar, encontrá la promo más conveniente</p>
    <p>Aquí se puede consultar bases y condiciones de las promociones vigentes para entradas</p>
    
<div class="promos">
    <div class="panel panel-default"  ng-repeat="promocion in promociones">
        <div id="pro1" class="panel-heading" >
            <h3>{{promocion.nombre}}</h3>
        </div>
        <div id="pro1" class="panel-body">
            <p>{{promocion.descripcion}}</p> 
        </div>
    </div>
</div>
    
    
    
    
</div>