<div class="col-md-6 col-md-offset-3" ng-controller="registroCtrl" style="padding-top: 100px;">
    <h2>Registrate</h2>
    <form name="form" ng-submit="registrar()" role="form">
        <div ng-if="mensaje != null">{{mensaje}}</div>
		 
		<div class="form-group" ng-class="{ 'has-error' : form.username.$invalid && !form.username.$pristine }">
            <label>Nombre de usuario</label>
            <input type="text" name="username" class="form-control" ng-model="registroForm.username" ng-minlength="8" ng-maxlength="15" required>
            <p ng-show="form.username.$invalid && !form.username.$pristine" class="help-block">El nombre de usuario es requerido</p>
            <p ng-show="form.username.$error.minlength" class="help-block">Nombre de usuario es muy corto.</p>
            <p ng-show="form.username.$error.maxlength" class="help-block">Nombre de usuario es muy largo.</p>
        </div>
		      			        
   		<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>E-Mail</label>
            <input type="email" name="email" class="form-control" ng-model="registroForm.email" required>
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Ingrese un mail válido.</p>
        </div>  
       		
		<div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && !form.password.$pristine }">
            <label>Contraseña</label>
            <input type="password" name="password" class="form-control" ng-model="registroForm.password" ng-minlength="8" ng-maxlength="20" required>
            <p ng-show="form.password.$invalid && !form.password.$pristine" class="help-block">Contraseña es requerida</p>
            <p ng-show="form.password.$error.minlength" class="help-block">Contraseña muy corta.</p>
            <p ng-show="form.password.$error.maxlength" class="help-block">Contraseña muy larga.</p>
        </div>

 		<fieldset>
        <legend style="font-size: 115%">Datos personales</legend>

        <div class="form-group" ng-class="{ 'has-error' : form.nombre.$invalid && !form.nombre.$pristine }">
            <label>Nombre</label>
            <input type="text" name="nombre" class="form-control" ng-model="registroForm.datosPersonales.nombre" ng-minlength="3" ng-maxlength="30" required>
            <p ng-show="form.nombre.$invalid && !form.nombre.$pristine" class="help-block">El nombre es requerido</p>
            <p ng-show="form.nombre.$error.minlength" class="help-block">Nombre es muy corto.</p>
            <p ng-show="form.nombre.$error.maxlength" class="help-block">Nombre es muy largo.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.apellido.$invalid && !form.apellido.$pristine }">
            <label>Apellido</label>
            <input type="text" name="apellido" class="form-control" ng-model="registroForm.datosPersonales.apellido" ng-minlength="2" ng-maxlength="30" required>
            <p ng-show="form.apellido.$invalid && !form.apellido.$pristine" class="help-block">El apellido es requerido</p>
            <p ng-show="form.apellido.$error.minlength" class="help-block">Apellido es muy corto.</p>
            <p ng-show="form.apellido.$error.maxlength" class="help-block">Apellido es muy largo.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : form.telefono.$invalid && !form.telefono.$pristine }">
            <label>Teléfono</label>
            <input type="text" name="telefono" class="form-control" ng-model="registroForm.datosPersonales.telefono" ng-minlength="8" ng-maxlength="40" required>
            <p ng-show="form.telefono.$invalid && !form.telefono.$pristine" class="help-block">Teléfono es requerido</p>
            <p ng-show="form.telefono.$error.minlength" class="help-block">Teléfono es muy corto.</p>
            <p ng-show="form.telefono.$error.maxlength" class="help-block">Teléfono es muy largo.</p>
        </div>

        </fieldset>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Registrarme</button>            
            <a href="#!/main" class="btn btn-link">Cancelar</a>
        </div>
    </form>
</div>